<sly data-sly-use.tileModel="com.etisalat.core.models.TileModel" 
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">  

   <div class="icon" data-sly-test="${properties['image/fileReference']}">
     <div data-sly-resource="${tileModel.tileImageResource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
   </div>
   <div class="wst-main-headings ${properties.titletextspace != 'none' ? properties.titletextspace :''}">
     <h2 data-sly-element="${properties.titleType}">${tileModel.tiletitle}</h2>
   </div>
   <div class="paragraph-styling anchor ul-list-cms">
     <div class="${properties.tileHeight != 'none' ? properties.tileHeight :'' }">${tileModel.text @ context='html'}</div>
   </div>
   <sly data-sly-test="${properties.tileLinkBehavior != 'openmodalwindow'}">
<sly data-sly-test.btnw100 = "${properties.displayCTABehaviour == 'w-100' ? 'action-btn-default w-100': '' }"></sly>
<sly data-sly-test.btn = "${properties.displayCTABehaviour == 'button' ? 'action-btn-default': '' }"></sly>
<sly data-sly-test.lnk = "${properties.displayCTABehaviour == 'link' ? 'action-link': '' }"></sly>
     <div data-sly-test="${tileModel.ctatext}" class="third-action-wrapper ${btnw100} ${btn} ${lnk}">
       <a href="${properties.tileLinkBehavior == 'opensamewindow'? tileModel.tileCTALinkSameWindow : tileModel.tileCTALinkNewWindow}" 
          target="${properties.tileLinkBehavior == 'opennewwindow'?'_blank':'_self'}" 
          class="${properties.displayCTABehaviour == 'button' || properties.displayCTABehaviour == 'w-100' ? 'btn btn-default ripple-effect' : 'link'}" title="${tileModel.ctatext}">${tileModel.ctatext}</a>
     </div>
   </sly>
   <sly data-sly-test="${properties.tileLinkBehavior == 'openmodalwindow'}" 
        data-sly-use.tileModalTemplate="/apps/etisalat/components/tile/tilemodal.html" data-sly-call="${tileModalTemplate.modal @ tileModel=tileModel,properties=properties,resource=resource,wcmmode=wcmmode}"></sly>

</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !tileModel.tiletitle}"></sly>