.tab-boxes-section {
  margin: 0 .5rem;
  .learn-more {
    padding-top: 2rem;
     padding-bottom: 2rem;
  }
  .head-desktop {
    a {
      pointer-events: none;
      font-size: 20px;
      border-left: 4px solid $main-green;
      @include font-family-Neotech-roboto;
      color: $main-green;
      display: block;
      line-height: 90px;
      padding-left: 22px;

      &.collapsed {
        pointer-events: auto;
        border-left: none;
        color: $almost-black;
        padding-left: 26px;
      }

    }
  }
  .body-desktop,
  .head-desktop {
    background: transparent;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .body-desktop {
    @media (max-width: 768) {
      padding-top: 2.5rem;
    }
    @media (max-width: 768) {
      border: 1px solid #e0e0e0;
    }
    border-radius: 4px;
    padding: 0;
    .description {
      @media (max-width: 768) {
        padding: 1.5rem 1rem;
      }
    }
     a {
      display: block;
      font-size: 1rem;
      @include font-family-Neotech-roboto;
      color: $main-green;
      margin: 0 1rem;
      padding: 1.5rem 0;
      border-bottom: 1px solid #E2E1DA;
      position: relative;
       margin-bottom: -1px;
      &:last-child {
        border-bottom: none;
      }
      &:before {
        content: "";
        border-left: 4px solid $main-green;
        display: block;
        position: absolute;
        height: 100%;
        left: -16px;
        top: 0;
      }
       &:after {
         right: 3px;
         border: solid $main-green;
         border-width: 0 1px 1px 0;
         padding: 5px;
         content: "";
         position: absolute;
         line-height: 1;
         -webkit-transform: translateY(-20%) rotate(-135deg);
         top: 50%;
         transform: translateY(-20%) rotate(-135deg);
         transition: all .3s ease-in-out;
       }
      &.collapsed {
        color: $almost-black;
        &:before {
          display: none;
        }
        &:after {
          border: solid $almost-black;
          border-width: 0 1px 1px 0;
          transform: translateY(-80%) rotate(45deg);
          -webkit-transform: translateY(-80%) rotate(45deg);
        }
      }
    }
  }
  .row-tiles-table{
    .table-swiper-button-next,  .table-swiper-button-prev {
      @include font-family-lato-withoutge;
      // width: 6.5rem;
      height: 1.3rem;
      cursor: pointer;
      position: absolute;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      z-index: 2;
      text-transform: uppercase;
      color:$main-green;
      svg{
        stroke: $main-green;
        height: 70%;
        width: 20%;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .table-swiper-button-next {
      right: 1.6rem!important;
      justify-content: flex-end;
      &:before {
        border: solid $main-green;;
        border-width: 0 1px 1px 0;
        content: "";
        line-height: 1;
        padding: 3.6px;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%) rotate(
        -45deg
        );
        transition: all .3s ease-in-out;
        }
      }
    
    .table-swiper-button-prev {
      left: 1.6rem!important;
      &:before {
        border: solid $main-green;;
        border-width: 0 1px 1px 0;
        content: "";
        line-height: 1;
        padding: 3.6px;
        position: absolute;
        left: -10px;
        right: auto;
        top: 50%;
       transform: translateY(-50%) rotate(
        135deg
        );
        transition: all .3s ease-in-out;
      }
    }
    .swiper-pagination{
      left: calc(50% - 50px);
      min-width: 100px;
      .swiper-pagination-bullet {
        cursor: pointer;
        margin: 2px 5px;
        width: 15px;
        height: 15px;
        padding: inherit;
      }
      .swiper-pagination-bullet-active {
        background: $grey6;
      }
    }
  }
  
  .paragraph {
    font-size: 14px;
    color: $steel-grey;
    line-height: 24px;
    margin-bottom: 1.5rem;
    .link {
      color: $steel-grey;
      cursor: pointer;
    }
    &.big {
      font-size: 18px;
    }
  }
  .black-text{
    color: $almost-black;
  }
  .content-headng{
    color: $steel-grey;
  }

  .heading-medium {
    @include font-family-lato;
    font-size: 20px;
    color: $almost-black;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  .ul-list,
  .ul-list-sub,
  .ul-list-cms ul,
  .ul-list-sub ul{
    margin-bottom: 1.5rem;
    > li {
      padding-left: 1rem;
      position: relative;
      color: $steel-grey;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .ul-list {
    &.order {
      list-style: decimal;
      margin-left: 1rem;
      > li {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    > li {
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $steel-grey;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
      }
    }
  }

  .ul-list-cms {
    ul {
      > li {
        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $steel-grey;
          display: block;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
    &.order {
      ul {
        list-style: decimal;
        margin-left: 1rem;
        > li {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .ul-list-sub,
  .ul-list-sub-cms ul{
    > li {
      &:before {
        content: "";
        width: 4px;
        height: 1px;
        background-color: #848789;
        display: block;
        position: absolute;
        left: 0;
        top: 14px;
      }
    }
  }

  .billing-explainer{
    .description{
      h3{
        font-size: 1.83rem;
        &.heading-medium{
          font-size: 1.25rem;
        }
      }
    }

    .media-news-accordion {
      .panel-group {
        .panel-body{
          padding: 1.3rem 1.5rem !important;
          line-height: 20px;
        }
        .panel-heading {
          .panel-title {
            a{
              @include font-family-lato;
              padding: 1.5rem 25px 1.5rem 0 !important;
              color:$black !important;
              border-bottom: 0 !important;
              &.collapsed{
                border-bottom: 1px solid #e2e1da !important;
              }
              &:after{
                border-width: 0 2px 2px 0;
              }
            }
          }
        }
      }
    }
  }

  .billing-explainer-video{
    &.paragraph{
      line-height: 1.25rem;
    }
  }
}
// mobile
@media (max-width: 420px) {
  .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-prev {
    left: 3rem !important;
  }
  .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-next {
    right: 3rem !important;
  }
}
@media (max-width: 768px){
   .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-prev {
      left: 3rem !important;
  }
  .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-next {
     right: 3rem !important;
  }
}

@media (max-width: 480px) {
  .tab-boxes-section{
    margin: 0;
  }
  .billing-explainer{
    &.body-desktop{
      border: 0;
    }
    .head-mobile{
      margin: 0 .5rem 0 .7rem;
      &::before{
        left: -12px !important;
      }
    }
    .description{
      h3{
        font-size: 1.25rem;
        margin-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        &.heading-medium{
          padding-top: 0 !important;
          font-size: 1rem;
        }
      }
    }
    .media-news-accordion{
       .panel-group{
          .panel-heading{
             .panel-title{
                a{
                  font-size: .75rem;
                  padding: 1.25rem 25px 1.25rem 0!important;
                  &::after{
                    border-width: 0 1px 1px 0;
                  }
                }
             }
          }
          .panel-collapse{
            .panel-body {
              padding: 1rem !important;
              p {
                 font-size: .75rem;
                 line-height: 1rem;
              }
            }
          }

       }
    }
  }


  .tab-boxes-section{
    .row-tiles-table{
      .table-swiper-button-prev{
        left: 1.5rem!important;
      }
      .table-swiper-button-next {
         right: 1.5rem!important;
      }
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .tab-boxes-section {
      .head-desktop a {
        padding-left: 0;
        padding-right: 22px;
        border-left: 0;
        border-right: 4px solid $main-green;
        font-weight: get-font-weight("light");
        @include font-family-Neotech;
        &.collapsed {
          border-right: none;
        }
      }
    }

    .tab-boxes-section .body-desktop {
      a:after {
        left: 0;
        right: auto;
      }
      a:before {
        right: -16px;
        left: auto;
      }
    }

    .ul-list-sub>li,
    .ul-list>li,
    .ul-list-sub-cms>li,
    .ul-list-cms>li {
      padding-left: 0;
      padding-right: 1rem;
      &:before {
        left: auto;
        right: 0;
      }
    }
  .billing-report-section {
      .table-swiper-button-prev,
      .table-swiper-button-next {
        @include  font-family-Neotech;
        font-size: toRem(16);
        font-weight: 300;
        letter-spacing: 0!important;
      }
  }
  .tab-boxes-section .row-tiles-table .table-swiper-button-next {
      left: 1.6rem !important;
      right: auto !important;
    &:before {
        transform: translateY(-50%) rotate(
          135deg
          );
          right: auto;
          left:-10px;
    }
  }
  .tab-boxes-section .row-tiles-table .table-swiper-button-prev {
      right: 1.6rem!important;
      left: auto!important;
      &:before {
          transform: translateY(-50%) rotate( 
  316deg
  );
  left: auto;
      right: -10px;
      }

  }
}
}
