<h2 data-sly-test="${properties.navTitle}">${properties.navTitle}</h2>
<nav id="${properties.id}">
   <input class="menu__checkbox" type="checkbox" role="Menu" aria-label="Menu" aria-controls="navigation"
      aria-haspopup="true" id="menu">
   <span class="btn-close"></span>
   <label class="menu__icon" for="menu"><span class="hamburger"></span></label>
   <div class="MenuWrapper">
      <ul data-sly-use.navModel="com.etisalat.core.models.FixedNavigationModel"
         data-sly-use.template="core/wcm/components/commons/v1/templates.html"
         data-sly-list.navItem="${navModel.fixedNav}" class="menu main-nav__list" role="menuitem">
         <div data-sly-test.nav_class_obj="${currentPage.path@ extension = 'html'}" data-sly-unwrap></div>
         <li
            class="main-nav__item ${(currentPage.name in navItem.navigationLink) ? 'active' : ''} ${(currentPage.parent.name in navItem.navigationLink)|| navItem.navigationLink  == nav_class_obj ? 'active-nav' : ''}">
            <a href="${navItem.navigationLink}" class="main-nav__link">${navItem.navigationTitle}</a>
         </li>
      </ul>
      <sly data-sly-test="${properties.actionsEnabled}" data-sly-use.ctaObj="${resource.path}"
         data-sly-list.actionItem="${ctaObj.listChildren}">
         <ul data-sly-test="${actionItem.name == 'actions'}" data-sly-list.ctaitem="${actionItem.listChildren}"
            class="menu secondary-nav__list">
             <li id="${ (currentPage.parent.name in ctaitem.link)|| currentPage.path == ctaitem.link ? 'mobile-active' : 'mobile-non-active'}"
               class="${(currentPage.parent.name in ctaitem.link)|| currentPage.path == ctaitem.link ? 'active' : 'noactive'}">
               <a href="${ctaitem.link @ extension = 'html'}" class="account-type">${ctaitem.text}</a></li>
         </ul>
      </sly>
   </div>
</nav>
<sly
   data-sly-call="${template.placeholder @ isEmpty=navModel.fixedNav.size == 0, classAppend='cmp-languagenavigation'}">
</sly>