<sly data-sly-use.topnavModel="com.etisalat.core.models.TopnavModel"></sly>
<div class="top-nav-section top-nav hidden-xs hidden-ms hidden-sm">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-lg-6">
            <div class="top-nav-left">
               <sly data-sly-use.topnavObj="${resource.path}" data-sly-list.topItems="${topnavObj.listChildren}">
                  <ul data-sly-test="${topItems.name == 'topnavlinks'}"
                     data-sly-list.topItemsList="${topItems.listChildren}" class="links">
                     <li class="${topItemsList.active ? 'active' : ''}">
                        <a href="${topItemsList.navigationLink @ extension = 'html'}"
                           data-sub-menu="sub-menu-mobile">${topItemsList.navigationTitle}</a>
                     </li>
                  </ul>
               </sly>
            </div>
         </div>
         <div class="col-md-6 col-lg-6">
            <div class="top-nav-right">              
                  <ul class="links"> 
                       <sly data-sly-test="${!topnavModel.topNavIconsList.isEmpty}" 
                               data-sly-list.itemList="${topnavModel.topNavIconsList}">                    
                        <li data-sly-test="${!(itemList.openmodalwindow == 'modalwindow') && !(itemList.openmodalwindow == 'accessibilityoverlay')}">
                           <a href="${itemList.navigationLink @ extension = 'html'}"
                              data-sub-menu="sub-menu-mobile">
                           <span class="text">${itemList.navigationTitle}</span>
                           <img alt="${itemList.navigationTitle}" data-sly-test="${itemList.navigationImage}"
                              src="${itemList.navigationImage}" /></a>
                        </li>
                        <li data-sly-test="${itemList.openmodalwindow == 'modalwindow'}">
                           <a  data-label="${resource.name}" data-sub-menu="sub-menu-mobile" class="btn-modal"
                              title="${itemList.navigationTitle}">
                           <span class="text">${itemList.navigationTitle}</span>
                           <img alt="${itemList.navigationTitle}" data-sly-test="${itemList.navigationImage}"
                              src="${itemList.navigationImage}" />
                           </a>
                        </li>
                        <li data-sly-test="${itemList.openmodalwindow == 'accessibilityoverlay'}">
                           <a class="open-accessibility-popup" data-label="${resource.name}" data-sub-menu="sub-menu-mobile" class="open-accessibility-popup"
                              title="${itemList.navigationTitle}">
                           <span class="text">${itemList.navigationTitle}</span>
                           <img alt="${itemList.navigationTitle}" data-sly-test="${itemList.navigationImage}"
                              src="${itemList.navigationImage}" />
                           </a>
                        </li>
                        <div data-sly-test="${itemList.openmodalwindow == 'modalwindow'}" id="${resource.name}"
                           class="nv-modal fade  black-overlay-modal">
                           <div class="nv-modal-dialog">
                              <div class="nv-modal-content nv-py-5">
                                 <div class="container">
                                    <div class="modal-popup">
                                       <sly
                                          data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html"
                                          data-sly-call="${closebuttonTemplate.close}">
                                       </sly>
                                       <sly
                                          data-sly-resource="${itemList.topNavigationXFResource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}">
                                       </sly>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div data-sly-test="${itemList.openmodalwindow == 'accessibilityoverlay'}" id="${resource.name}"
                           class="modal accessibility-overlay">
                           <div class="" role="document">
                              <sly
                                 data-sly-resource="${itemList.topNavigationXFResource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}"></sly>
                           </div>
                        </div> 
                      </sly>   
                       <li data-sly-test="${topnavModel.languageSize > 1}">
	                     <ul>
	                        <li class="language" data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page">
	                           <a class="${page.language == 'ar' ? 'arabic-lang-content' :''}"
	                              href="#">${topnavModel.currentPageLanguageTitle}</a>
	                           <ul class="language-menu" data-sly-list.langItem="${topnavModel.localeList}">
	                              <li><a class="${langItem.altText == 'ar' ? 'arabic-lang-content' :''}"
	                                 href="${langItem.linkUrl}">${langItem.title}</a></li>
	                           </ul>
	                        </li>
	                     </ul>
	                  </li>
	                  <li data-sly-test="${topnavModel.languageSize == 1}"
	                     data-sly-list.langItem="${topnavModel.localeList}">
	                     <a href="${langItem.linkUrl}" data-sub-menu="sub-menu-help">
	                     <span class="language-switch-content"> ${langItem.title}</span>
	                     </a>
	                  </li>                                        
                  </ul>                 
            </div>
         </div>
      </div>
   </div>
</div>