                        <!-- question 4 content start  -->
                        <div class="col-sm-12 h-100 questions question-final">
                           <div class="d-flex flex-column h-100">
                              <!-- screen #3 ROW-1 -->
                              <p class="nv-description lg mt-16">
                                 Please let us know how we can improve our products and services.
                              </p>
                              <div class="row mt-16">
                                 <div class="col-sm-12">
                                    <div class="textarea input-field mb-0">
                                       <textarea class="materialize-textarea feedback-comment generaSampling"
                                          data-question="0d4-7b86ef9f34fa" rows="4"></textarea>
                                       <label> Type your feedback here </label>
                                    </div>
                                 </div>
                              </div>
                              <!-- screen #3 ROW-2 -->
                              <div class="row">
                                 <div class="col-sm-12 nv-mb-4">
                                    <p class="nv-description lg mt-8 text-right">
                                       Max characters: 2000 <span class="remaining-chars-container">(<span
                                          class="remaining-chars"></span> remaining)</span>
                                    </p>
                                 </div>
                              </div>
                              <!-- screen #3 ROW-3 -->
                              <div class="row justify-content-center nv-mt-auto">
                                 <div class="col-lg-offset-2 col-lg-8">
                                    <button type="submit" class="btn btn-green btn-block ripple-effect submit-feedback"
                                       data-type="generaSampling" disabled>
                                    SUBMIT
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- question 4 content end  -->