 <!-- question 2 content start  -->
                        <div class="col-sm-12 h-100 questions question-2">
                           <div class="d-flex flex-column h-100">
                              <div class="nv-bg-colors nv-green">
                                 Question 2
                              </div>
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-3">
                                 Please rate your browsing experience with Etisalat.ae.
                              </p>
                              <!-- screen #2 ROW-1 -->
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-4">
                                 How easy was it to use the website?
                              </p>
                              <div class="d-flex justify-content-between mt-16">
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="easeofnavigating" data-question="64c-e1d2c45b4b32"
                                          data-option="ade-b640c35229f4" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <path d="M0 0H24V24H0z"
                                                                     transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000)" />
                                                                  <g stroke-linecap="round" stroke-linejoin="round">
                                                                     <path stroke="#719E19"
                                                                        d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M5.5 6.5L7.5 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     <path stroke="#719E19" d="M13 6.5L15 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000) translate(14.000000, 7.000000) scale(1, -1) translate(-14.000000, -7.000000)" />
                                                                     <path stroke="#777E86"
                                                                        d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="easeofnavigating" data-question="64c-e1d2c45b4b32"
                                          data-option="3c5-f3a6b74d4d6c" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#719E19"
                                                                           d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M14.678 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555zM6.4 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555z"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="easeofnavigating" data-question="64c-e1d2c45b4b32"
                                          data-option="d22-679ae4fc4732" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM5.844 12.911L14.122 12.911"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="easeofnavigating" data-question="64c-e1d2c45b4b32"
                                          data-option="f40-453558435e8d" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555z"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="easeofnavigating" data-question="64c-e1d2c45b4b32"
                                          data-option="f95-ac3f75f069aa" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.111">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677H5.844zM5.289 7.799c0-.613.497-1.11 1.11-1.11.612 0 1.11.497 1.11 1.11M13 7.799c0-.613.497-1.11 1.11-1.11.613 0 1.11.497 1.11 1.11"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="d-flex fs-14 justify-content-between mt-12">
                                 <strong>Very difficult </strong>
                                 <strong>Very easy</strong>
                              </div>
                              <hr class="dashed nv-my-3">
                              <!-- screen #2 ROW-2 -->
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-4">
                                 How long did the website take to load?
                              </p>
                              <div class="d-flex justify-content-between mt-16">
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="Pageuploadtime" data-question="c7a-46c15250701f"
                                          data-option="ade-b640c35229f4" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <path d="M0 0H24V24H0z"
                                                                     transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000)" />
                                                                  <g stroke-linecap="round" stroke-linejoin="round">
                                                                     <path stroke="#719E19"
                                                                        d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M5.5 6.5L7.5 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     <path stroke="#719E19" d="M13 6.5L15 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000) translate(14.000000, 7.000000) scale(1, -1) translate(-14.000000, -7.000000)" />
                                                                     <path stroke="#777E86"
                                                                        d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="Pageuploadtime" data-question="c7a-46c15250701f"
                                          data-option="3c5-f3a6b74d4d6c" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#719E19"
                                                                           d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M14.678 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555zM6.4 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555z"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="Pageuploadtime" data-question="c7a-46c15250701f"
                                          data-option="d22-679ae4fc4732" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM5.844 12.911L14.122 12.911"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="Pageuploadtime" data-question="c7a-46c15250701f"
                                          data-option="f40-453558435e8d" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555z"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="Pageuploadtime" data-question="c7a-46c15250701f"
                                          data-option="f95-ac3f75f069aa" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.111">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677H5.844zM5.289 7.799c0-.613.497-1.11 1.11-1.11.612 0 1.11.497 1.11 1.11M13 7.799c0-.613.497-1.11 1.11-1.11.613 0 1.11.497 1.11 1.11"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="d-flex fs-14 justify-content-between mt-12">
                                 <strong>Very long</strong>
                                 <strong>Very quick</strong>
                              </div>
                              <hr class="dashed nv-my-3">
                              <!-- screen #2 ROW-3 -->
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-4">
                                 How would you rate our ‘Search’ function?
                              </p>
                              <div class="d-flex justify-content-between mt-16">
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="searchfunction" data-question="f97-bff3d89e9a9d"
                                          data-option="ade-b640c35229f4" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <path d="M0 0H24V24H0z"
                                                                     transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000)" />
                                                                  <g stroke-linecap="round" stroke-linejoin="round">
                                                                     <path stroke="#719E19"
                                                                        d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M5.5 6.5L7.5 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     <path stroke="#719E19" d="M13 6.5L15 7.5"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000) translate(14.000000, 7.000000) scale(1, -1) translate(-14.000000, -7.000000)" />
                                                                     <path stroke="#777E86"
                                                                        d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                        transform="translate(-956.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="searchfunction" data-question="f97-bff3d89e9a9d"
                                          data-option="3c5-f3a6b74d4d6c" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#719E19"
                                                                           d="M14.122 14.59c-.7-1.58-2.289-2.678-4.133-2.678-1.845 0-3.433 1.099-4.145 2.677M14.678 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555zM6.4 7.022c0 .307-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.307.249-.555.555-.555.307 0 .556.248.556.555z"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.288c2.955-1.577 4.966-4.71 4.966-8.31 0-5.2-4.21-9.423-9.423-9.423C4.767.555.556 4.778.556 9.978c0 5.21 4.211 9.434 9.421 9.434h.012"
                                                                           transform="translate(-1036.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(80.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="searchfunction" data-question="f97-bff3d89e9a9d"
                                          data-option="d22-679ae4fc4732" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM5.844 12.911L14.122 12.911"
                                                                           transform="translate(-1117.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(161.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="searchfunction" data-question="f97-bff3d89e9a9d"
                                          data-option="f40-453558435e8d" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677M14.678 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555zM6.4 7.022c0 .306-.25.556-.556.556-.306 0-.555-.25-.555-.556 0-.306.249-.555.555-.555.307 0 .556.249.556.555z"
                                                                           transform="translate(-1196.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(241.000000, 0.000000) translate(19.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-selector-border w-auto">
                                    <div class="selector-item">
                                       <input type="radio" name="searchfunction" data-question="f97-bff3d89e9a9d"
                                          data-option="f95-ac3f75f069aa" />
                                       <div class="selector-feature ptb-10">
                                          <label class="selector-feature-label fs-14">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                   <g>
                                                      <g>
                                                         <g>
                                                            <g>
                                                               <g>
                                                                  <g>
                                                                     <path d="M0 0H24V24H0z"
                                                                        transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000)" />
                                                                     <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.111">
                                                                        <path stroke="#777E86"
                                                                           d="M14.434 18.289c2.955-1.578 4.966-4.711 4.966-8.31 0-5.201-4.21-9.424-9.423-9.424C4.767.555.556 4.778.556 9.98c0 5.21 4.211 9.432 9.421 9.432h.012"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                        <path stroke="#719E19"
                                                                           d="M5.844 11.91c.7 1.58 2.29 2.678 4.134 2.678 1.844 0 3.434-1.098 4.144-2.677H5.844zM5.289 7.799c0-.613.497-1.11 1.11-1.11.612 0 1.11.497 1.11 1.11M13 7.799c0-.613.497-1.11 1.11-1.11.613 0 1.11.497 1.11 1.11"
                                                                           transform="translate(-1277.000000, -817.000000) translate(834.000000, 0.000000) translate(102.000000, 743.000000) translate(0.000000, 64.000000) translate(321.000000, 0.000000) translate(20.000000, 10.000000) translate(2.000000, 2.000000)" />
                                                                     </g>
                                                                  </g>
                                                               </g>
                                                            </g>
                                                         </g>
                                                      </g>
                                                   </g>
                                                </g>
                                             </svg>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="d-flex fs-14 justify-content-between mt-12">
                                 <strong>Poor</strong>
                                 <strong>Excellent</strong>
                              </div>
                              <!-- screen #2 ROW-2 -->
                              <div class="row bottom-action nv-mt-auto">
                                 <div class="col-md-6 ">
                                    <a class="nv-btn-link btn-block ptb-16 text-center prev-q" data-prevstep="question-1">
                                    PREVIOUS STEP
                                    </a>
                                 </div>
                                 <div class="col-md-6">
                                    <button class="btn btn-green btn-block ripple-effect next-q" data-nextstep="question-3" disabled>
                                    NEXT
                                    </button>
                                 </div>
                              </div>
                           </div>
                           <!-- end ROW-8 -->
                        </div>
                        <!-- question 2 content end  -->