 <!-- question 4 content start  -->
                        <div class="col-sm-12 h-100 questions question-4">
                           <div class="d-flex flex-column h-100">
                              <div class=" nv-bg-colors nv-green ">
                                 Question 4
                              </div>
                              <!-- screen #3 ROW-1 -->
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-4">
                                 To help us understand you better, please provide more details of your overall experience.
                              </p>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="textarea input-field mb-0">
                                       <textarea class="materialize-textarea feedback-comment etisalatFeedback"
                                          data-question="365-f07041ec8cdb" rows="4"></textarea>
                                       <label> Type here </label>
                                    </div>
                                 </div>
                              </div>
                              <!-- screen #3 ROW-2 -->
                              <div class="row">
                                 <div class="col-sm-12 nv-mb-2 nv-mb-lg-3">
                                    <p class="nv-description lg mt-8 text-right">
                                       Max characters: 2000 <span class="remaining-chars-container">(<span
                                          class="remaining-chars"></span> remaining)</span>
                                    </p>
                                 </div>
                              </div>
                              <!-- screen #3 ROW-3 -->
                              <div class="row bottom-action nv-mt-auto">
                                 <div class="col-md-6 ">
                                    <a class="nv-btn-link btn-block ptb-16 text-center prev-q" data-prevstep="question-3">
                                    PREVIOUS STEP
                                    </a>
                                 </div>
                                 <div class="col-md-6">
                                    <button class="btn btn-green btn-block ripple-effect submit-feedback" type="submit"
                                       data-type="etisalatFeedback">
                                    SUBMIT
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- question 4 content end  -->