<!-- question 1 content start  -->
                        <div class="col-sm-12 h-100 questions question-1">
                           <div class="d-flex flex-column h-100">
                              <div class="nv-bg-colors nv-green ">
                                 Question 1
                              </div>
                              <p class="nv-description lg nv-mt-12 nv-mt-lg-3">
                                 What did you come to do on our website today?
                              </p>
                              <!-- ROW-1 -->
                              <p class="nv-config-title mb-0 mt-16">Payment</p>
                              <div class="nv-row mt-16">
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="bills" type="radio" name="payment" value="paymybills"
                                             data-question="349-d2c4d4a2db2e" data-option="8f0-be732c2ac3b5" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Pay my bills
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="recharge" type="radio" name="payment" value="recharge"
                                             data-question="349-d2c4d4a2db2e" data-option="f07-6699bd76faed" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Recharge account
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <hr class="dashed nv-my-12 nv-my-lg-3">
                              <!-- ROW-2 -->
                              <p class="nv-config-title mtb-0">Enquiry</p>
                              <div class="nv-row mt-16">
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="support" type="radio" name="enquiry" value="support"
                                             data-question="349-d2c4d4a2db2e" data-option="39d-fa7095f619aa" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Support
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="checkusage" type="radio" name="enquiry" value="checkusage"
                                             data-question="349-d2c4d4a2db2e" data-option="b8b-4c9978bf76b2" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Check usage (data, minutes & SMS)
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <hr class="dashed nv-my-12 nv-my-lg-3">
                              <!-- ROW-3 -->
                              <p class="nv-config-title mb-0 mt-16">Shopping</p>
                              <div class="nv-row mt-16">
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="plans" type="radio" name="shopping" value="plans" data-question="349-d2c4d4a2db2e"
                                             data-option="4b4-b419de3887c1" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Plans (Mobile & eLife)
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="buyplanaddons" type="radio" name="shopping" value="buyplanaddons"
                                             data-question="349-d2c4d4a2db2e" data-option="27f-5b2f452ff4cb" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Buy plan’s add-ons
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="nv-col-auto mt-12">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="buydevice" type="radio" name="shopping" value="buydevice"
                                             data-question="349-d2c4d4a2db2e" data-option="8fb-4a2cbaa6d9ef" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Buy devices & accessories
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <hr class="dashed nv-my-12 nv-my-lg-3">
                              <!-- ROW-3 -->
                              <p class="nv-config-title mb-0 mt-16">Explore</p>
                              <div class="nv-row mt-16">
                                 <div class="nv-col-auto">
                                    <div class="nv-selector-border">
                                       <div class="selector-item">
                                          <input id="lookingforinformation" type="radio" name="exploring"
                                             data-question="349-d2c4d4a2db2e" data-option="b84-992ca6c34060"
                                             value="lookingforinformation" />
                                          <div class="selector-feature plr-12">
                                             <label class="selector-feature-label fs-14">
                                             Looking for information
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row justify-content-center nv-mt-auto">
                                 <div class="col-lg-offset-2 col-lg-8">
                                    <button data-nextstep="question-2" class="btn btn-green btn-block ripple-effect next-q" disabled>
                                    NEXT
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- question 1 content end  -->