<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"  
data-sly-use.articleObj="com.etisalat.core.models.ArticleSearch">
  <sly data-sly-test="${properties.searchType && properties.searchType == 'freetextsearch'}" 
       data-sly-use.blogSearchTemplate="blogpostsearch.html"
       data-sly-call="${blogSearchTemplate.blogPostObj @ properties=properties,blogpost=articleObj}">
  </sly>
  <sly data-sly-test="${properties.searchType && properties.searchType == 'searchcategory'}" 
        data-sly-use.newsRoomTemplate="newsroomsearch.html"
       data-sly-call="${newsRoomTemplate.newsRoomObj @ properties=properties,newsroom=articleObj}">
  </sly>
  <sly data-sly-test="${properties.searchType && properties.searchType == 'ewalletNewsSection'}" 
        data-sly-use.ewalletNewsTemplate="ewallet-newssearch.html"
       data-sly-call="${ewalletNewsTemplate.ewalletNewsSection @ properties=properties,newssection=articleObj}">
  </sly>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.parentPath}"></sly>


