<template  data-sly-template.pagination="${ @ properties}">
   <div class="container-fluid">
       <div class="row">
           <div class="col-xs-12">             
               <div class="spacer spacer-36"></div>
           </div>
       </div>
   </div>
   <div class="pages-list col-md-4">
       <a href="#" class="prev-page pagination-link" data-link-type="prev">
           <span class="pagination-btn arrow-prev"></span>
       </a>
       <ul class="pagination-list">
           <li class="item-page active"><a class="pagination-link" data-link-type="link" href="#">1</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="#">2</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="#">3</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="# ">4</a></li>
       </ul>
       <a href="#" class="next-page pagination-link" data-link-type="next">
          <span class="pagination-btn arrow-next"></span>
       </a>
   </div>
   <p class="pages">Page
       <span class="current-page"></span> of 
       <span class="total-pages"></span>
   </p>
</template>