<template data-sly-template.heroVideoModel="${ @ component,properties}">
<div class="video-text">
  <a data-toggle="modal" data-target="#heroVideo-${component.id}">${properties.playButton}</a>
</div>
<div class="video-icon">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58px" height="58px"
		viewBox="0 0 58 58" version="1.1" class="replaced-svg">
		<!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
		<title>Icon/Outline 1pt/video start stop/video_start_stop_black</title>
		<desc>Created with Sketch.</desc>
		<g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
			stroke-linejoin="round">
			<g id="Icon/Outline-1pt/video-start-stop/video_start_stop_black"
				transform="translate(-3.000000, -3.000000)" stroke="#242424">
				<path
					d="M48.1181247,45.0042505 C47.5827865,45.3018981 47.0851792,45.6592024 46.6342863,46.0671798 C45.016428,47.5310522 44,49.6473219 44,52.000991 C44,56.419269 47.581722,60.000991 52,60.000991 C56.418278,60.000991 60,56.419269 60,52.000991 C60,48.9882351 58.3346186,46.3644497 55.8742206,45"
					id="Oval"></path>
				<path
					d="M58.3250068,41.5614269 C59.4088749,38.5779373 60,35.358001 60,32 C60,16.536027 47.463973,4 32,4 C16.536027,4 4,16.536027 4,32 C4,47.463973 16.536027,60 32,60 C35.3316508,60 38.5273952,59.4181156 41.4911491,58.350431"
					id="Oval-3"></path>
				<path d="M52.2807018,43 L52.2807018,50.6140351" id="Line"></path>
				<polygon id="Triangle" points="45 32 25 44 25 20"></polygon>
			</g>
		</g>
	</svg>
</div>
<div data-sly-test="${properties.youTubeUrl}" class="hero-banner-modal modal fade" id="heroVideo-${component.id}" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xwr22z1hysY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>
</div>
</template>