<template data-sly-template.ctaModelPopup="${ @ component,properties}">
<div data-sly-test="${properties.linkBehavior == 'openmodalwindow' && properties.bannerCTATitle}" class="ele-margin hero-cta">
     <a data-label="cta-${component.id}" class="btn ${properties.ctaColor} btn-modal ripple-effect"
    title="${properties.bannerCTATitle}">${properties.bannerCTATitle} </a>			      			    
  <div id="cta-${component.id}"
        class="nv-modal fade  ${properties.modalBehavior}-modal">	             
        <div class="nv-modal-dialog">
           <div class="nv-modal-content nv-py-5">
              <div class="container">
                 <div class="modal-popup">
                    <sly
                       data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html"
                       data-sly-call="${closebuttonTemplate.close}">
                    </sly>
                    <sly
                       data-sly-resource="${resource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}">
                    </sly>
                 </div>
              </div>
           </div>
        </div>
     </div>
 </div>
</template>