<!-- model header end -->
<div class="nv-modal-body p-0">
 <!--START MAIN SCREEN -->
 <!-- General -->

 <div class="row feedback-type long-survey">
  <div class="col-sm-12">
   <div class=" mh-main-screen-container d-flex align-items-center justify-content-between">
    <div class="pr-16">
     <h2 class="fs-16 m-0">عام</h2>
     <p class="nv-description mt-4">
      كيف يمكن تحسين خدماتنا؟
     </p>
    </div>
    <svg width="16" height="16" viewBox="0 0 16 16"><path fill="#717171" d="M8.7 14.3c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0l-7-7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L2.4 8l6.3 6.3z"></path></svg>
   </div>
  </div>
 </div>
 <!-- website Feedback -->

 <div class="row feedback-type short-survey">
  <div class="col-sm-12">
   <div class="mh-main-screen-container d-flex align-items-center justify-content-between">
    <div class="mh-main-screen-content pr-16 ">
     <h2 class="fs-16 m-0">آراء للموقع الإلكتروني</h2>
     <p class="nv-description mt-4">
      قم بإجراء استبيان قصير لتقييم تفاعلك الأخير مع اتصالات.
     </p>
    </div>

    <div class="mh-main-screen-icon">
     <svg width="16" height="16" viewBox="0 0 16 16"><path fill="#717171" d="M8.7 14.3c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0l-7-7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L2.4 8l6.3 6.3z"></path></svg>
    </div>

   </div>
  </div>
 </div>

 <!--END MAIN SCREEN -->

 <div class="row h-100 questions-row">
  <sly>
    <sly data-sly-include="sharefeedback-section-rtl/sharefeedback_one_ar.html"></sly>
    <sly data-sly-include="sharefeedback-section-rtl/sharefeedback_two_ar.html"></sly>
    <sly data-sly-include="sharefeedback-section-rtl/sharefeedback_three_ar.html"></sly>
    <sly data-sly-include="sharefeedback-section-rtl/sharefeedback_four_ar.html"></sly>
    <sly data-sly-include="sharefeedback-section-rtl/sharefeedback_final_ar.html"></sly>
  </sly>
 </div>
</div>
<!-- model body end -->