<div class="product-card product-card--elife-plan">
  <a href="${properties.availabilityButtonLink @ extension = 'html'}" alt="${properties.buyNowAltText}" class="link-cover"></a>
    <div class="product-card__header">
      <figure class="product-card__header__figure">
        <div class="product-card__image" data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
      </figure>
    </div>
    <div class="product-card__body d-flex flex-column py-3 px-4">
      <div class="product-card__header__title d-flex flex-column">
        <span class="product-card__header__title__primary">${properties.brandText}</span>
        <span class="product-card__header__title__secondary">${properties.productTitle}</span>
      </div>
    </div>
    <!-- product-card__body -->
    <div class="product-card__footer mt-auto">
      <div class="product-card__price-wrapper py-3 px-4">
        <div class="product-card__price">
          <span data-sly-test="${properties.productPrice}" class="price-value">${properties.productPrice}</span>
          <span data-sly-test="${properties.productCurrency}" class="price-currency">${properties.productCurrency} </span>
        </div>
        <div class="product-card__price-vat">
          <span data-sly-test="${properties.productOldPrice}" class="product-card__old-price">
            ${properties.productOldPriceText} <span class="old-price-value"> ${properties.productOldPrice} </span>
          </span> ${properties.vatInclude}
        </div>
      </div>
      <div role="button" class="product-card__cta">${properties.availabilityButtonText}</div>
    </div>
    <!-- product-card__footer -->
  <!-- a tag wrapper -->
</div>
<!-- product-card -->