<div class="config-section-wrap" 
   data-sly-use.pageNav="com.etisalat.core.models.PageNavigation" 
   data-sly-use.templates="core/wcm/components/commons/v1/templates.html"     
   id="pagenav-${properties.id}">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-3">
            <div data-sly-test="${properties.pageTitle}" class="config-section-main-label-top">
               ${properties.pageTitle}
            </div>
         </div>
         <div class="col-xs-12 col-md-${properties.pageTitle ? 9 : 12}">
            <div data-simplebar data-sly-test="${!pageNav.pageNavItems.isEmpty}">                                
                  <div class="simplebar-wrapper">                    
                        <div class="simplebar-content">
                           <ul class="page-nav" data-sly-list.navItems="${pageNav.pageNavItems}">
                              <li class="${request.pathInfo == navItems.navigationLink ? 'active' : ''}">
                                 <a href="${navItems.navigationLink}">${navItems.navigationTitle}</a>
                              </li>
                           </ul>
                        </div>                    
                  </div>               
            </div>
         </div>
         <sly data-sly-include="herolinkssection.html"></sly>
      </div>
   </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = pageNav.pageNavItems.size == 0}"></sly>