/* Download map button start */

.cmp-button--action {
  .cmp-button {
    border: toRem(1) solid $darkest-night;
    border-radius: toRem(4);
    cursor: pointer;
    float: left;
    margin-left: toRem(15);
    outline: 0;
    padding: toRem(15) 0.5rem;
    text-align: center;

    @include respond-to-max($tablet) {
      line-height: toRem(48);
      margin-left: 0;
      padding: 0 toRem(8);
      width: 100%;
    }

    @include respond-to-min-max($desktop, $phone) {
      line-height: toRem(48);
      padding: 0;
      width: 100%;
    }

    &:hover {
      border: toRem(1) solid $main-green;
    }

    &__text {
      color: $almost-black;
      font-size: $font14;
      font-weight: get-font-weight("bold");
      letter-spacing: toRem(2);
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $main-green;
      }
    }
  }

  a {
    color: $almost-black;
  }

  &:active {
    background-color: $main-green;
    border: 1px solid $main-green;
    color: $white;
  }

  @include respond-to-max($tablet) {
    .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
      width: 100%;
    }

    a {
      display: inline-block;
    }
  }
}

/* Download map button end */
