<sly data-sly-use.model="com.etisalat.core.models.GenericListModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
 <sly data-sly-test="${model.genericListObj.size > 0}">
   <h2 class="return-link">${properties.title}</h2>
	<ul data-sly-list.items="${model.genericListObj}">
	   <div data-sly-test.list_class_obj="${currentPage.path@ extension = 'html'}" data-sly-unwrap></div>
		<li class="${list_class_obj == items.path ? 'active' : ''}">
	      <img alt="${items.title}" src=${items.thumbnail}>
	      <sly data-sly-test="${properties.showtitle}">
	      <h3>${items.title}</h3>
	      </sly>
	      <sly data-sly-test="${properties.showDescription}">
	         <p>${items.description}</p>
	      </sly>
	      <div class="left-menu-title ${currentPage.path == items.path ? 'highlight' : ''}">
	         <a href="${items.path}" class="offer-text">${items.title}</a>
	      </div>
	<sly data-sly-test="${properties.showDate}">
	         <div class="date">VALID UNTIL ${'dd/MM/yyyy' @ format=items.offTime}</div>
	      </sly>    
	           
	         <a class="button" href="${items.path}">${properties.viewall}</a>         
	   </li>
	</ul>
   </sly>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = model.genericListObj.size == 0}"></sly>
