@font-face {
  font-family: Bariol;
  font-weight: 300;
  src: url("../resources/fonts/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: Bariol;
  font-weight: 400;
  src: url("../resources/fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: Bariol;
  font-weight: 500;
  src: url("../resources/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: Bariol;
  font-weight: 700;
  src: url("../resources/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/ge_ss_two_medium.ttf") format("truetype");
}

@font-face {
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/ge_ss_two_bold.ttf") format("truetype");
}

@font-face {
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: 300;
  src: url("../resources/fonts/ge_ss_two_light.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src:
    url("../resources/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
    format("embedded-opentype"),
    url("../resources/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../resources/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../resources/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../resources/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
    format("svg");
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-family: "FontAwesome";
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.fa-facebook::before {
  content: "\f09a";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.fa-apple::before {
  content: "\f179";
}
