<template data-sly-template.contactmap="${ @ properties}">
<div class="container contact-us-wrap">
		<div class="col-xs-12 col-sm-5 col-md-4 contactus-text">
		  <ul>
		  	<li>
		  	      <b>${properties.custCareLbl}</b>
		  	      <span>${properties.custCareTxt}</span>
		        </li>
		  	<li>
		  	      <b>${properties.emailLbl}</b>
		  	      <span>${properties.contactEmail}</span>
		        </li>
		  	<li>
		  	      <b>${properties.addressLbl}</b>
		  	      <span>${properties.contactAddress @context = 'html'}</span>
		        </li>
		  </ul>
		</div>
		<div data-sly-use.mapObj="com.etisalat.core.models.GoogleMapsModel" class="col-xs-12 col-sm-7 col-md-8 contactus-map">
			<iframe data-sly-test="${mapObj.googleContactUrl}" src="${mapObj.googleContactUrl}" width="816" height="312" frameborder="0" style="border:0;max-width:100%;" allowfullscreen=""></iframe>
		</div>
</div>

</template>