span.strikethrough {
      text-decoration:line-through;
  }
  #CQrte span.strikethrough {
      text-decoration:line-through;
  }

.iconimage{
    width: 20px;
    height: 20px;
    min-height: auto;
    vertical-align: sub;
    margin-right: .325rem;
}