<template data-sly-template.rightArrow="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="next next-with--topcarousel">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="matrix(-1 0 0 1 36 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="matrix(-1 0 0 1 36 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftArrow="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="prev swiper-button-disabled prev-with--topcarousel">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="translate(12 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="translate(12 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftAngle="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="next  next-with--topcarousel">
      <svg viewBox="0 0 16 16" width="20.8" height="20.8" fill="none" stroke="#242424" stroke-width="2" class="chevron" stroke-linecap="round"
           stroke-linejoin="round">
         <path d="M5 1.0606601717798212 L11.939339828220179 8 L5 14.939339828220179"></path>
      </svg>
   </div>
</template>
<template data-sly-template.rightAngle="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="prev  swiper-button-disabled prev-with--topcarousel">
      <svg viewBox="0 0 16 16" width="20.8" height="20.8" fill="none" stroke="#242424" stroke-width="2" class="chevron" stroke-linecap="round"
           stroke-linejoin="round">
         <path d="M11 1.0606601717798212 L4.060660171779821 8 L11 14.939339828220179"></path>
      </svg>
   </div>
</template>