<template data-sly-template.singleCarousel="${ @ properties}">
	<div data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel" data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-panelcontainer="${wcmmode.edit && 'Promotional carousel'}" id="${carousel.id}" class="cmp-carousel product-grid-single" role="group" aria-label="${carousel.accessibilityLabel}" aria-live="polite" aria-roledescription="carousel" data-cmp-is="carousel" data-cmp-autoplay="${(wcmmode.edit || wcmmode.preview) ? '' : carousel.autoplay}" data-cmp-delay="${carousel.delay}" data-cmp-autopause-disabled="${carousel.autopauseDisabled}" data-cmp-data-layer="${carousel.data.json}" data-placeholder-text="${wcmmode.edit && 'Please add Promotional Carousel items here' @ i18n}">
		<sly data-sly-test.oneTile="${carousel.items.size == 1}"></sly>
		<sly data-sly-test.twoTile="${carousel.items.size ==2}"></sly>
		<sly data-sly-test.threeTile="${carousel.items.size ==3}"></sly>
		<div class="product-promotions-wrraper one-only">
			<div class="background-with-color">
				<div class="cover" data-sly-resource="${carousel @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-12"> <span class="lbl">${properties.promotionPreTitle}</span>
						<div class="promotions-title-wrap">
							<h3>${properties.promotionTitle} </h3> </div>
						<div class="paragraph-styling ul-list-cms">${properties.promotionalDesc @ context='html'}</div>
						<a data-sly-test="${properties.promotionCTALink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=properties.promotionCTALink}" class="btn-text learn-more learn--more__white" title="${properties.promotionCTATitle}" href="${commonlinkmodel.link} " target="${properties.promotionLinkBehavior == '
opennewwindow'?'_blank' : '_self'}"> <span>${properties.promotionCTATitle}</span> </a>
						<!-- Control Arrows for carousel-->
						<div class="controls" data-sly-test="${carousel.items.size >1}">
							<div class="prev swiper-button-disabled">
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="24.000000pt" height="24.000000pt" viewBox="0 0 24.000000 24.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M115 180 l-59 -60 59 -60 c32 -33 61 -57 64 -54 3 2 -20 29 -49 59
l-54 55 54 55 c29 30 52 57 49 59 -3 3 -32 -21 -64 -54z"/>
</g>
</svg>
							</div>
							<div class="next">
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="32.000000pt" height="32.000000pt" viewBox="0 0 32.000000 32.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M80 315 c0 -5 33 -42 72 -82 l72 -73 -74 -75 c-41 -41 -72 -77 -69
-79 3 -3 41 31 84 74 l80 80 -83 83 c-45 45 -82 77 -82 72z"/>
</g>
</svg>
	
							</div>
						</div>
					</div>
					<div class="col-md-9 col-xs-12" data-sly-test="${carousel.items && carousel.items.size > 0}">
						<div class="${!wcmmode.edit ? 'swiper-container swiper-container-horizontal': ''}">
							<div class="${!wcmmode.edit ? 'swiper-wrapper': ''}">
								<div data-sly-repeat.item="${carousel.items}" class="${!wcmmode.edit ? 'swiper-slide':''}" style="width:918px;" data-sly-resource="${item.name @ decorationTagName='div'}" id="${item.id}"></div>
							</div>
						</div>
					</div>
					<sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar',
            appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}" data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
				</div>
			</div>
		</div>
	</div>
</template>
