<template data-sly-template.secondaryButton="${ @ properties}">
  <div data-sly-test="${properties.linkBehavior != 'openmodalwindow'}" class="button cmp-button--secondary">
    <a class="cmp-button"
       href="${ properties.linkBehavior == 'opensamewindow'? properties.ctaSameWindowLink : properties.ctaNewWindowLink @ extension='html'}"
       target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}">
      <span class="cmp-button__text cmp-button--secondary">${properties.title}</span>
    </a>
  </div>
  <div data-sly-test="${properties.linkBehavior == 'openmodalwindow'}"
       class="button cmp-button--secondary">
    <a data-label="${resource.name}" class="cmp-button btn-modal"
       title="${properties.title}">
      <span class="cmp-button__text cmp-button--secondary">${properties.title}</span>
    </a>
    <div id="${resource.name}" class="nv-modal fade  ${properties.modalBehavior}-modal">
      <div class="nv-modal-dialog">
        <div class="nv-modal-content nv-py-5">
          <div class="container">
            <div class="modal-popup">
              <sly
                      data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html"
                      data-sly-call="${closebuttonTemplate.close}">
              </sly>
              <sly
                      data-sly-resource="${resource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}">
              </sly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>