$font-Roboto: roboto, sans-serif;
$font-Quicksand: quicksand, sans-serif;
$font-size: 16px;
$font-height: 1.2;
$blue-gradient: linear-gradient(106deg, #1640a2 16%, #1b1464 78%);
$blue-color: #2199e8;
$gray-color: #eff4ff;
$white-color: #fff;
$link-color: #1640a2;
$black-color: #1d1d1e;
$light-blue-color: #007bff;
$light-gray: #e5eaf4;
$hamburger-blue: #1740a2;
$color-link: #452769;
$custom-gray: #333;
$light-gray: #898b8f;
