 <template data-sly-template.xfDesktopContainerTemplate="${ @ properties,navItems}">
	<sly data-sly-set.onePromoTile="${navItems.containerPromotionList.size == 1 ? 'with-single' : ''}"></sly>
	<sly data-sly-set.twoPromoTile="${navItems.containerPromotionList.size == 2 ? 'with-two' : ''}"></sly>
	<sly data-sly-set.threePromoTile="${navItems.containerPromotionList.size == 3 ? 'with-three' : ''}"></sly>
	<sly data-sly-set.sixPromoTile="${navItems.containerPromotionList.size == 6 ? 'with-six' : ''}"></sly>
  <li>
    <a class="mega-menu-link" data-sub-menu="sub-menu-mobile">${navItems.navigationLabel}</a>
    <div class="sub-menu-wrap mega-dropdown ${onePromoTile} ${twoPromoTile} ${threePromoTile} ${sixPromoTile}">
      <div class="menu-items-wrapper">
        <div class="menu-items">
          <sly data-sly-test="${!navItems.containerSubMenuList.isEmpty}"
               data-sly-list.subMenuItems="${navItems.containerSubMenuList}">
            <ul data-sly-test="${!subMenuItems.isFeatureItemExist}" class="sub-menu">
              <li data-sly-test="${subMenuItems.navTitle}"
                  class="sub-menu-heading">${subMenuItems.navTitle}</li>
              <li data-sly-test="${!subMenuItems.fixedItems.isEmpty}"
                  data-sly-repeat.subFixedItems="${subMenuItems.fixedItems}"
                  class="${subFixedItems.navigationDesc ? 'sub-menu-heading' : ''}">
                <a href="${subFixedItems.navigationLink}">
                  ${subFixedItems.navigationTitle}
                  <img alt="${subFixedItems.navigationTitle}" data-sly-test="${subFixedItems.navigationDesc}" class="nav-link-arrow"
                       src="${properties.linkArrowImage}"/>
                </a>
                <p data-sly-test="${subFixedItems.navigationDesc}">${subFixedItems.navigationDesc}</p>
              </li>
            </ul>
            <ul data-sly-test="${subMenuItems.isFeatureItemExist && !subMenuItems.featureImageList.isEmpty}"
                class="sub-menu brands">
              <li class="sub-menu-heading">${subMenuItems.title}</li>
              <li data-sly-list.brandItem="${subMenuItems.featureImageList}"
                  class="menu-brand-wrapper">
                <a class="menu-brand-item" loading="lazy" href="${brandItem.link}">
									<img alt="${brandItem.title}" src="${brandItem.fileReference}" width="80px" height="74px"></a>
              </li>
            </ul>
          </sly>
        </div>
        <div data-sly-test="${!navItems.containerFooterMenuList.isEmpty}"
             data-sly-list.footerMenuItems="${navItems.containerFooterMenuList}"
             class="menu-items-footer">
          <ul data-sly-test="${!footerMenuItems.fixedItems.isEmpty}"
              data-sly-list.items="${footerMenuItems.fixedItems}" class="sub-menu">
            <li data-sly-test="${!items.hideDesktopLink && items.navigationTitle}"><a
                href="${items.navigationLink}">${items.navigationTitle}</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-promotion-wrapper">
        <div data-sly-list.promoObj="${navItems.containerPromotionList}" class="tiles-wrapper">
          <div class="tile">
            <div class="cover">
              <img src="${promoObj.fileReference}" loading="lazy" class="cover lazyloaded"
                   alt="m-menu-new-freedom-en-377x325">
            </div>
            <div class="tile-content-wrapp">
              <div class="content">
                <h4>${promoObj.title}</h4>
                <a data-sly-test="${promoObj.link}" href="${promoObj.link}"
                   class="btn-text learn-more">
                  <span class="">${promoObj.text}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>
