nav {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  .menu__icon {
    background: transparent;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: toRem(10);
    outline: none;
    position: relative;
    right: toRem(15);
    top: toRem(10);
    user-select: none;

    @include respond-to-max($desktop) {
      right: toRem(24);
    }

    @include respond-to-max($tablet) {
      right: toRem(15);
    }

    @include respond-to-min($desktop) {
      display: none;
    }

    ::selection {
      background: none;
    }

    .hamburger {
      background: $white-color;
      display: block;
      height: toRem(1);

      // margin-right: toRem(10);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: toRem(25);
      z-index: 1;

      /* margin-top: toRem(19); */

      @include respond-to-min($tablet) {
        margin-right: toRem(16);
      }

      &::before,
      &::after {
        background: $white-color;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      &::before {
        top: toRem(8);
      }

      &::after {
        top: toRem(-8);
      }

      &.hamburger--close {
        background: transparent;
        height: toRem(30);
        top: toRem(8);
        width: toRem(30);

        &::before {
          background: rgb(0 0 0 / 15%);
          border-radius: toRem(50);
          height: toRem(4);
          top: 0;
          transform: rotate(-45deg);
        }

        &::after {
          background: rgba(0 0 0 / 15%);
          border-radius: toRem(50);
          height: toRem(4);
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .menu {
    background-color: $white-color;
    display: none;
    position: relative;
    text-align: center;
    top: toRem(45);

    @include respond-to-max($desktop) {
      padding: toRem(15);
      width: 100%;
    }

    li a {
      color: $white-color;
      display: block;
      font-family: $font-Quicksand;
      font-size: toRem(18);
      font-weight: 500;
      letter-spacing: 0.47px;
      line-height: normal;
      opacity: 0.6;
      padding-left: toRem(5);
      padding-right: toRem(5);
      text-align: right;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
        transition-duration: 500ms;
      }
    }

    li.active a {
      @include respond-to-max($desktop) {
        color: $link-color;
      }
    }

    @include respond-to-max($desktop) {
      display: block;
      height: 100%;
      position: fixed;
      right: -100%;
      top: 0;
      transition: all 0.4s ease-out;
      width: toRem(300);

      &.active {
        right: 0;
      }

      li {
        display: block;
        margin-left: toRem(20);

        a {
          color: $black;
          font-size: toRem(23);
          font-weight: 800;
          padding: 0.5rem 0;
          text-align: left;
        }
      }
    }
  }

  &.nav--overlay {
    &::before {
      background: rgb(0 0 0 / 50%);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}

.menu__checkbox {
  display: none;
  opacity: 0;
}

@include respond-to-min($desktop) {
  nav a:hover {
    color: $white-color;
  }

  nav {
    position: static;

    .menu {
      background: none;
      clear: none;
      display: block;
      float: right;
      margin-top: toRem(15);
      max-height: none;
      padding: 0;
      top: 0;

      li {
        float: left;
        margin-left: toRem(20);

        a {
          background-color: transparent;
          border: 0;
          border: none;
          color: $white-color;
          display: block;
          font-size: toRem(18);
          padding: toRem(8) toRem(5);
        }
      }
    }
  }
}
