.nv-m-0 {
  margin: 0;
}

.nv-mt-0,
.nv-my-0 {
  margin-top: 0;
}

.nv-mr-0,
.nv-mx-0 {
  margin-right: 0;
}

.nv-mb-0,
.nv-my-0 {
  margin-bottom: 0;
}

.nv-ml-0,
.nv-mx-0 {
  margin-left: 0;
}

.nv-m-1 {
  margin: 0.25rem;
}

.nv-mt-1,
.nv-my-1 {
  margin-top: 0.25rem;
}

.nv-mr-1,
.nv-mx-1 {
  margin-right: 0.25rem;
}

.nv-mb-1,
.nv-my-1 {
  margin-bottom: 0.25rem;
}

.nv-ml-1,
.nv-mx-1 {
  margin-left: 0.25rem;
}

.nv-m-2 {
  margin: 0.5rem;
}

.nv-mt-2,
.nv-my-2 {
  margin-top: 0.5rem;
}

.nv-mr-2,
.nv-mx-2 {
  margin-right: 0.5rem;
}

.nv-mb-2,
.nv-my-2 {
  margin-bottom: 0.5rem;
}

.nv-ml-2,
.nv-mx-2 {
  margin-left: 0.5rem;
}

.nv-m-3 {
  margin: 1rem;
}

.nv-mt-6 {
  margin-top: 6px;
}

.nv-mt-10 {
  margin-top: 10px;
}

.nv-mt-12 {
  margin-top: 12px;
}

.nv-mt-3,
.nv-my-3 {
  margin-top: 1rem;
}

.nv-mr-3,
.nv-mx-3 {
  margin-right: 1rem;
}

.nv-mb-3,
.nv-my-3 {
  margin-bottom: 1rem;
}

.nv-ml-3,
.nv-mx-3 {
  margin-left: 1rem;
}

.nv-m-4 {
  margin: 1.5rem;
}

.nv-mt-4,
.nv-my-4 {
  margin-top: 1.5rem;
}

.nv-mr-4,
.nv-mx-4 {
  margin-right: 1.5rem;
}

.nv-mb-4,
.nv-my-4 {
  margin-bottom: 1.5rem;
}

.nv-my-40 {
  margin: 40px 0;
}

.nv-ml-4,
.nv-mx-4 {
  margin-left: 1.5rem;
}

.nv-mt-32 {
  margin-top: 32px;
}

.nv-mt-40 {
  margin-top: 40px;
}

.nv-mb-40 {
  margin-bottom: 40px;
}

.nv-mt-42 {
  margin-top: 42px;
}

.nv-m-5 {
  margin: 3rem;
}

.nv-mt-5,
.nv-my-5 {
  margin-top: 3rem;
}

.nv-mr-5,
.nv-mx-5 {
  margin-right: 3rem;
}

.nv-mb-5,
.nv-my-5 {
  margin-bottom: 3rem;
}

.nv-ml-5,
.nv-mx-5 {
  margin-left: 3rem;
}

.nv-mt-64 {
  margin-top: 4rem;
}

.nv-p-0 {
  padding: 0;
}

.nv-pt-0,
.nv-py-0 {
  padding-top: 0;
}

.nv-pr-0,
.nv-px-0 {
  padding-right: 0;
}

.nv-pb-0,
.nv-py-0 {
  padding-bottom: 0;
}

.nv-pl-0,
.nv-px-0 {
  padding-left: 0;
}

.nv-p-1 {
  padding: 0.25rem;
}

.nv-pt-1,
.nv-py-1 {
  padding-top: 0.25rem;
}

.nv-pr-1,
.nv-px-1 {
  padding-right: 0.25rem;
}

.nv-pb-1,
.nv-py-1 {
  padding-bottom: 0.25rem;
}

.nv-pl-1,
.nv-px-1 {
  padding-left: 0.25rem;
}

.nv-p-2 {
  padding: 0.5rem;
}

.nv-pt-2,
.nv-py-2 {
  padding-top: 0.5rem;
}

.nv-pr-2,
.nv-px-2 {
  padding-right: 0.5rem;
}

.nv-pb-2,
.nv-py-2 {
  padding-bottom: 0.5rem;
}

.nv-pl-2,
.nv-px-2 {
  padding-left: 0.5rem;
}

.nv-p-3 {
  padding: 1rem;
}

.nv-pt-3,
.nv-py-3 {
  padding-top: 1rem;
}

.nv-pr-3,
.nv-px-3 {
  padding-right: 1rem;
}

.nv-pb-3,
.nv-py-3 {
  padding-bottom: 1rem;
}

.nv-pl-3,
.nv-px-3 {
  padding-left: 1rem;
}

*[lang="ar"] *[dir="rtl"] .nv-pl-3 {
  padding-left: 0;
  padding-right: 1rem;
}

.nv-p-4 {
  padding: 1.5rem;
}

.nv-pt-4,
.nv-py-4 {
  padding-top: 1.5rem;
}

.nv-pr-4,
.nv-px-4 {
  padding-right: 1.5rem;
}

.nv-pb-4,
.nv-py-4 {
  padding-bottom: 1.5rem;
}

.nv-pl-4,
.nv-px-4 {
  padding-left: 1.5rem;
}

.nv-p-5 {
  padding: 3rem;
}

.nv-pt-5,
.nv-py-5 {
  padding-top: 3rem;
}

.nv-pr-5,
.nv-px-5 {
  padding-right: 3rem;
}

.nv-pb-5,
.nv-py-5 {
  padding-bottom: 3rem;
}

.nv-pl-5,
.nv-px-5 {
  padding-left: 3rem;
}

.nv-m-n1 {
  margin: -0.25rem;
}

.nv-mt-n1,
.nv-my-n1 {
  margin-top: -0.25rem;
}

.nv-mr-n1,
.nv-mx-n1 {
  margin-right: -0.25rem;
}

.nv-mb-n1,
.nv-my-n1 {
  margin-bottom: -0.25rem;
}

.nv-ml-n1,
.nv-mx-n1 {
  margin-left: -0.25rem;
}

.nv-m-n2 {
  margin: -0.5rem;
}

.nv-mt-n2,
.nv-my-n2 {
  margin-top: -0.5rem;
}

.nv-mr-n2,
.nv-mx-n2 {
  margin-right: -0.5rem;
}

.nv-mb-n2,
.nv-my-n2 {
  margin-bottom: -0.5rem;
}

.nv-ml-n2,
.nv-mx-n2 {
  margin-left: -0.5rem;
}

.nv-m-n3 {
  margin: -1rem;
}

.nv-mt-n3,
.nv-my-n3 {
  margin-top: -1rem;
}

.nv-mr-n3,
.nv-mx-n3 {
  margin-right: -1rem;
}

.nv-mb-n3,
.nv-my-n3 {
  margin-bottom: -1rem;
}

.nv-ml-n3,
.nv-mx-n3 {
  margin-left: -1rem;
}

.nv-m-n4 {
  margin: -1.5rem;
}

.nv-mt-n4,
.nv-my-n4 {
  margin-top: -1.5rem;
}

.nv-mr-n4,
.nv-mx-n4 {
  margin-right: -1.5rem;
}

.nv-mb-n4,
.nv-my-n4 {
  margin-bottom: -1.5rem;
}

.nv-ml-n4,
.nv-mx-n4 {
  margin-left: -1.5rem;
}

.nv-m-n5 {
  margin: -3rem;
}

.nv-mt-n5,
.nv-my-n5 {
  margin-top: -3rem;
}

.nv-mr-n5,
.nv-mx-n5 {
  margin-right: -3rem;
}

.nv-mb-n5,
.nv-my-n5 {
  margin-bottom: -3rem;
}

.nv-ml-n5,
.nv-mx-n5 {
  margin-left: -3rem;
}

.nv-m-auto {
  margin: auto;
}

.nv-mt-auto,
.nv-my-auto {
  margin-top: auto;
}

.nv-mr-auto,
.nv-mx-auto {
  margin-right: auto;
}

.nv-mb-auto,
.nv-my-auto {
  margin-bottom: auto;
}

.nv-ml-auto,
.nv-mx-auto {
  margin-left: auto;
}

@media (min-width: 576px) {
  .nv-m-sm-0 {
    margin: 0;
  }

  .nv-mt-sm-0,
  .nv-my-sm-0 {
    margin-top: 0;
  }

  .nv-mr-sm-0,
  .nv-mx-sm-0 {
    margin-right: 0;
  }

  .nv-mb-sm-0,
  .nv-my-sm-0 {
    margin-bottom: 0;
  }

  .nv-ml-sm-0,
  .nv-mx-sm-0 {
    margin-left: 0;
  }

  .nv-m-sm-1 {
    margin: 0.25rem;
  }

  .nv-mt-sm-1,
  .nv-my-sm-1 {
    margin-top: 0.25rem;
  }

  .nv-mr-sm-1,
  .nv-mx-sm-1 {
    margin-right: 0.25rem;
  }

  .nv-mb-sm-1,
  .nv-my-sm-1 {
    margin-bottom: 0.25rem;
  }

  .nv-ml-sm-1,
  .nv-mx-sm-1 {
    margin-left: 0.25rem;
  }

  .nv-m-sm-2 {
    margin: 0.5rem;
  }

  .nv-mt-sm-2,
  .nv-my-sm-2 {
    margin-top: 0.5rem;
  }

  .nv-mt-sm-6 {
    margin-top: 6px;
  }

  .nv-mt-sm-10 {
    margin-top: 10px;
  }

  .nv-mt-sm-12 {
    margin-top: 12px;
  }

  .nv-mr-sm-2,
  .nv-mx-sm-2 {
    margin-right: 0.5rem;
  }

  .nv-mb-sm-2,
  .nv-my-sm-2 {
    margin-bottom: 0.5rem;
  }

  .nv-ml-sm-2,
  .nv-mx-sm-2 {
    margin-left: 0.5rem;
  }

  .nv-m-sm-3 {
    margin: 1rem;
  }

  .nv-mt-sm-3,
  .nv-my-sm-3 {
    margin-top: 1rem;
  }

  .nv-mr-sm-3,
  .nv-mx-sm-3 {
    margin-right: 1rem;
  }

  .nv-mb-sm-3,
  .nv-my-sm-3 {
    margin-bottom: 1rem;
  }

  .nv-ml-sm-3,
  .nv-mx-sm-3 {
    margin-left: 1rem;
  }

  .nv-m-sm-4 {
    margin: 1.5rem;
  }

  .nv-mt-sm-4,
  .nv-my-sm-4 {
    margin-top: 1.5rem;
  }

  .nv-mr-sm-4,
  .nv-mx-sm-4 {
    margin-right: 1.5rem;
  }

  .nv-mb-sm-4,
  .nv-my-sm-4 {
    margin-bottom: 1.5rem;
  }

  .nv-ml-sm-4,
  .nv-mx-sm-4 {
    margin-left: 1.5rem;
  }

  .nv-mt-sm-32 {
    margin-top: 2rem;
  }

  .nv-mt-sm-40 {
    margin-top: 40px;
  }

  .nv-mb-sm-40 {
    margin-bottom: 40px;
  }

  .nv-my-sm-40 {
    margin: 40px 0;
  }

  .nv-mt-sm-42 {
    margin-top: 42px;
  }

  .nv-m-sm-5 {
    margin: 3rem;
  }

  .nv-mt-sm-5,
  .nv-my-sm-5 {
    margin-top: 3rem;
  }

  .nv-mr-sm-5,
  .nv-mx-sm-5 {
    margin-right: 3rem;
  }

  .nv-mb-sm-5,
  .nv-my-sm-5 {
    margin-bottom: 3rem;
  }

  .nv-ml-sm-5,
  .nv-mx-sm-5 {
    margin-left: 3rem;
  }

  .nv-mt-sm-64 {
    margin-top: 4rem;
  }

  .nv-p-sm-0 {
    padding: 0;
  }

  .nv-pt-sm-0,
  .nv-py-sm-0 {
    padding-top: 0;
  }

  .nv-pr-sm-0,
  .nv-px-sm-0 {
    padding-right: 0;
  }

  .nv-pb-sm-0,
  .nv-py-sm-0 {
    padding-bottom: 0;
  }

  .nv-pl-sm-0,
  .nv-px-sm-0 {
    padding-left: 0;
  }

  .nv-p-sm-1 {
    padding: 0.25rem;
  }

  .nv-pt-sm-1,
  .nv-py-sm-1 {
    padding-top: 0.25rem;
  }

  .nv-pr-sm-1,
  .nv-px-sm-1 {
    padding-right: 0.25rem;
  }

  .nv-pb-sm-1,
  .nv-py-sm-1 {
    padding-bottom: 0.25rem;
  }

  .nv-pl-sm-1,
  .nv-px-sm-1 {
    padding-left: 0.25rem;
  }

  .nv-p-sm-2 {
    padding: 0.5rem;
  }

  .nv-pt-sm-2,
  .nv-py-sm-2 {
    padding-top: 0.5rem;
  }

  .nv-pr-sm-2,
  .nv-px-sm-2 {
    padding-right: 0.5rem;
  }

  .nv-pb-sm-2,
  .nv-py-sm-2 {
    padding-bottom: 0.5rem;
  }

  .nv-pl-sm-2,
  .nv-px-sm-2 {
    padding-left: 0.5rem;
  }

  .nv-p-sm-3 {
    padding: 1rem;
  }

  .nv-pt-sm-3,
  .nv-py-sm-3 {
    padding-top: 1rem;
  }

  .nv-pr-sm-3,
  .nv-px-sm-3 {
    padding-right: 1rem;
  }

  .nv-pb-sm-3,
  .nv-py-sm-3 {
    padding-bottom: 1rem;
  }

  .nv-pl-sm-3,
  .nv-px-sm-3 {
    padding-left: 1rem;
  }

  .nv-p-sm-4 {
    padding: 1.5rem;
  }

  .nv-pt-sm-4,
  .nv-py-sm-4 {
    padding-top: 1.5rem;
  }

  .nv-pr-sm-4,
  .nv-px-sm-4 {
    padding-right: 1.5rem;
  }

  .nv-pb-sm-4,
  .nv-py-sm-4 {
    padding-bottom: 1.5rem;
  }

  .nv-pl-sm-4,
  .nv-px-sm-4 {
    padding-left: 1.5rem;
  }

  .nv-p-sm-5 {
    padding: 3rem;
  }

  .nv-pt-sm-5,
  .nv-py-sm-5 {
    padding-top: 3rem;
  }

  .nv-pr-sm-5,
  .nv-px-sm-5 {
    padding-right: 3rem;
  }

  .nv-pb-sm-5,
  .nv-py-sm-5 {
    padding-bottom: 3rem;
  }

  .nv-pl-sm-5,
  .nv-px-sm-5 {
    padding-left: 3rem;
  }

  .nv-m-sm-n1 {
    margin: -0.25rem;
  }

  .nv-mt-sm-n1,
  .nv-my-sm-n1 {
    margin-top: -0.25rem;
  }

  .nv-mr-sm-n1,
  .nv-mx-sm-n1 {
    margin-right: -0.25rem;
  }

  .nv-mb-sm-n1,
  .nv-my-sm-n1 {
    margin-bottom: -0.25rem;
  }

  .nv-ml-sm-n1,
  .nv-mx-sm-n1 {
    margin-left: -0.25rem;
  }

  .nv-m-sm-n2 {
    margin: -0.5rem;
  }

  .nv-mt-sm-n2,
  .nv-my-sm-n2 {
    margin-top: -0.5rem;
  }

  .nv-mr-sm-n2,
  .nv-mx-sm-n2 {
    margin-right: -0.5rem;
  }

  .nv-mb-sm-n2,
  .nv-my-sm-n2 {
    margin-bottom: -0.5rem;
  }

  .nv-ml-sm-n2,
  .nv-mx-sm-n2 {
    margin-left: -0.5rem;
  }

  .nv-m-sm-n3 {
    margin: -1rem;
  }

  .nv-mt-sm-n3,
  .nv-my-sm-n3 {
    margin-top: -1rem;
  }

  .nv-mr-sm-n3,
  .nv-mx-sm-n3 {
    margin-right: -1rem;
  }

  .nv-mb-sm-n3,
  .nv-my-sm-n3 {
    margin-bottom: -1rem;
  }

  .nv-ml-sm-n3,
  .nv-mx-sm-n3 {
    margin-left: -1rem;
  }

  .nv-m-sm-n4 {
    margin: -1.5rem;
  }

  .nv-mt-sm-n4,
  .nv-my-sm-n4 {
    margin-top: -1.5rem;
  }

  .nv-mr-sm-n4,
  .nv-mx-sm-n4 {
    margin-right: -1.5rem;
  }

  .nv-mb-sm-n4,
  .nv-my-sm-n4 {
    margin-bottom: -1.5rem;
  }

  .nv-ml-sm-n4,
  .nv-mx-sm-n4 {
    margin-left: -1.5rem;
  }

  .nv-m-sm-n5 {
    margin: -3rem;
  }

  .nv-mt-sm-n5,
  .nv-my-sm-n5 {
    margin-top: -3rem;
  }

  .nv-mr-sm-n5,
  .nv-mx-sm-n5 {
    margin-right: -3rem;
  }

  .nv-mb-sm-n5,
  .nv-my-sm-n5 {
    margin-bottom: -3rem;
  }

  .nv-ml-sm-n5,
  .nv-mx-sm-n5 {
    margin-left: -3rem;
  }

  .nv-m-sm-auto {
    margin: auto;
  }

  .nv-mt-sm-auto,
  .nv-my-sm-auto {
    margin-top: auto;
  }

  .nv-mr-sm-auto,
  .nv-mx-sm-auto {
    margin-right: auto;
  }

  .nv-mb-sm-auto,
  .nv-my-sm-auto {
    margin-bottom: auto;
  }

  .nv-ml-sm-auto,
  .nv-mx-sm-auto {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .nv-m-md-0 {
    margin: 0;
  }

  .nv-mt-md-0,
  .nv-my-md-0 {
    margin-top: 0;
  }

  .nv-mr-md-0,
  .nv-mx-md-0 {
    margin-right: 0;
  }

  .nv-mb-md-0,
  .nv-my-md-0 {
    margin-bottom: 0;
  }

  .nv-ml-md-0,
  .nv-mx-md-0 {
    margin-left: 0;
  }

  .nv-m-md-1 {
    margin: 0.25rem;
  }

  .nv-mt-md-1,
  .nv-my-md-1 {
    margin-top: 0.25rem;
  }

  .nv-mr-md-1,
  .nv-mx-md-1 {
    margin-right: 0.25rem;
  }

  .nv-mb-md-1,
  .nv-my-md-1 {
    margin-bottom: 0.25rem;
  }

  .nv-ml-md-1,
  .nv-mx-md-1 {
    margin-left: 0.25rem;
  }

  .nv-m-md-2 {
    margin: 0.5rem;
  }

  .nv-mt-md-2,
  .nv-my-md-2 {
    margin-top: 0.5rem;
  }

  .nv-mr-md-2,
  .nv-mx-md-2 {
    margin-right: 0.5rem;
  }

  .nv-mb-md-2,
  .nv-my-md-2 {
    margin-bottom: 0.5rem;
  }

  .nv-ml-md-2,
  .nv-mx-md-2 {
    margin-left: 0.5rem;
  }

  .nv-mt-md-6 {
    margin-top: 6px;
  }

  .nv-mt-md-10 {
    margin-top: 10px;
  }

  .nv-mt-md-12 {
    margin-top: 12px;
  }

  .nv-m-md-3 {
    margin: 1rem;
  }

  .nv-mt-md-3,
  .nv-my-md-3 {
    margin-top: 1rem;
  }

  .nv-mr-md-3,
  .nv-mx-md-3 {
    margin-right: 1rem;
  }

  .nv-mb-md-3,
  .nv-my-md-3 {
    margin-bottom: 1rem;
  }

  .nv-ml-md-3,
  .nv-mx-md-3 {
    margin-left: 1rem;
  }

  .nv-m-md-4 {
    margin: 1.5rem;
  }

  .nv-mt-md-4,
  .nv-my-md-4 {
    margin-top: 1.5rem;
  }

  .nv-mr-md-4,
  .nv-mx-md-4 {
    margin-right: 1.5rem;
  }

  .nv-mb-md-4,
  .nv-my-md-4 {
    margin-bottom: 1.5rem;
  }

  .nv-ml-md-4,
  .nv-mx-md-4 {
    margin-left: 1.5rem;
  }

  .nv-mt-md-32 {
    margin-top: 2rem;
  }

  .nv-mt-md-40 {
    margin-top: 40px;
  }

  .nv-mb-md-40 {
    margin-bottom: 40px;
  }

  .nv-my-md-40 {
    margin: 40px 0;
  }

  .nv-mt-md-42 {
    margin-top: 42px;
  }

  .nv-m-md-5 {
    margin: 3rem;
  }

  .nv-mt-md-5,
  .nv-my-md-5 {
    margin-top: 3rem;
  }

  .nv-mr-md-5,
  .nv-mx-md-5 {
    margin-right: 3rem;
  }

  .nv-mb-md-5,
  .nv-my-md-5 {
    margin-bottom: 3rem;
  }

  .nv-ml-md-5,
  .nv-mx-md-5 {
    margin-left: 3rem;
  }

  .nv-mt-md-64 {
    margin-top: 4rem;
  }

  .nv-p-md-0 {
    padding: 0;
  }

  .nv-pt-md-0,
  .nv-py-md-0 {
    padding-top: 0;
  }

  .nv-pr-md-0,
  .nv-px-md-0 {
    padding-right: 0;
  }

  .nv-pb-md-0,
  .nv-py-md-0 {
    padding-bottom: 0;
  }

  .nv-pl-md-0,
  .nv-px-md-0 {
    padding-left: 0;
  }

  .nv-p-md-1 {
    padding: 0.25rem;
  }

  .nv-pt-md-1,
  .nv-py-md-1 {
    padding-top: 0.25rem;
  }

  .nv-pr-md-1,
  .nv-px-md-1 {
    padding-right: 0.25rem;
  }

  .nv-pb-md-1,
  .nv-py-md-1 {
    padding-bottom: 0.25rem;
  }

  .nv-pl-md-1,
  .nv-px-md-1 {
    padding-left: 0.25rem;
  }

  .nv-p-md-2 {
    padding: 0.5rem;
  }

  .nv-pt-md-2,
  .nv-py-md-2 {
    padding-top: 0.5rem;
  }

  .nv-pr-md-2,
  .nv-px-md-2 {
    padding-right: 0.5rem;
  }

  .nv-pb-md-2,
  .nv-py-md-2 {
    padding-bottom: 0.5rem;
  }

  .nv-pl-md-2,
  .nv-px-md-2 {
    padding-left: 0.5rem;
  }

  .nv-p-md-3 {
    padding: 1rem;
  }

  .nv-pt-md-3,
  .nv-py-md-3 {
    padding-top: 1rem;
  }

  .nv-pr-md-3,
  .nv-px-md-3 {
    padding-right: 1rem;
  }

  .nv-pb-md-3,
  .nv-py-md-3 {
    padding-bottom: 1rem;
  }

  .nv-pl-md-3,
  .nv-px-md-3 {
    padding-left: 1rem;
  }

  .nv-p-md-4 {
    padding: 1.5rem;
  }

  .nv-pt-md-4,
  .nv-py-md-4 {
    padding-top: 1.5rem;
  }

  .nv-pr-md-4,
  .nv-px-md-4 {
    padding-right: 1.5rem;
  }

  .nv-pb-md-4,
  .nv-py-md-4 {
    padding-bottom: 1.5rem;
  }

  .nv-pl-md-4,
  .nv-px-md-4 {
    padding-left: 1.5rem;
  }

  .nv-p-md-5 {
    padding: 3rem;
  }

  .nv-pt-md-5,
  .nv-py-md-5 {
    padding-top: 3rem;
  }

  .nv-pr-md-5,
  .nv-px-md-5 {
    padding-right: 3rem;
  }

  .nv-pb-md-5,
  .nv-py-md-5 {
    padding-bottom: 3rem;
  }

  .nv-pl-md-5,
  .nv-px-md-5 {
    padding-left: 3rem;
  }

  .nv-m-md-n1 {
    margin: -0.25rem;
  }

  .nv-mt-md-n1,
  .nv-my-md-n1 {
    margin-top: -0.25rem;
  }

  .nv-mr-md-n1,
  .nv-mx-md-n1 {
    margin-right: -0.25rem;
  }

  .nv-mb-md-n1,
  .nv-my-md-n1 {
    margin-bottom: -0.25rem;
  }

  .nv-ml-md-n1,
  .nv-mx-md-n1 {
    margin-left: -0.25rem;
  }

  .nv-m-md-n2 {
    margin: -0.5rem;
  }

  .nv-mt-md-n2,
  .nv-my-md-n2 {
    margin-top: -0.5rem;
  }

  .nv-mr-md-n2,
  .nv-mx-md-n2 {
    margin-right: -0.5rem;
  }

  .nv-mb-md-n2,
  .nv-my-md-n2 {
    margin-bottom: -0.5rem;
  }

  .nv-ml-md-n2,
  .nv-mx-md-n2 {
    margin-left: -0.5rem;
  }

  .nv-m-md-n3 {
    margin: -1rem;
  }

  .nv-mt-md-n3,
  .nv-my-md-n3 {
    margin-top: -1rem;
  }

  .nv-mr-md-n3,
  .nv-mx-md-n3 {
    margin-right: -1rem;
  }

  .nv-mb-md-n3,
  .nv-my-md-n3 {
    margin-bottom: -1rem;
  }

  .nv-ml-md-n3,
  .nv-mx-md-n3 {
    margin-left: -1rem;
  }

  .nv-m-md-n4 {
    margin: -1.5rem;
  }

  .nv-mt-md-n4,
  .nv-my-md-n4 {
    margin-top: -1.5rem;
  }

  .nv-mr-md-n4,
  .nv-mx-md-n4 {
    margin-right: -1.5rem;
  }

  .nv-mb-md-n4,
  .nv-my-md-n4 {
    margin-bottom: -1.5rem;
  }

  .nv-ml-md-n4,
  .nv-mx-md-n4 {
    margin-left: -1.5rem;
  }

  .nv-m-md-n5 {
    margin: -3rem;
  }

  .nv-mt-md-n5,
  .nv-my-md-n5 {
    margin-top: -3rem;
  }

  .nv-mr-md-n5,
  .nv-mx-md-n5 {
    margin-right: -3rem;
  }

  .nv-mb-md-n5,
  .nv-my-md-n5 {
    margin-bottom: -3rem;
  }

  .nv-ml-md-n5,
  .nv-mx-md-n5 {
    margin-left: -3rem;
  }

  .nv-m-md-auto {
    margin: auto;
  }

  .nv-mt-md-auto,
  .nv-my-md-auto {
    margin-top: auto;
  }

  .nv-mr-md-auto,
  .nv-mx-md-auto {
    margin-right: auto;
  }

  .nv-mb-md-auto,
  .nv-my-md-auto {
    margin-bottom: auto;
  }

  .nv-ml-md-auto,
  .nv-mx-md-auto {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .nv-m-lg-0 {
    margin: 0;
  }

  .nv-mt-lg-0,
  .nv-my-lg-0 {
    margin-top: 0;
  }

  .nv-mr-lg-0,
  .nv-mx-lg-0 {
    margin-right: 0;
  }

  .nv-mb-lg-0,
  .nv-my-lg-0 {
    margin-bottom: 0;
  }

  .nv-ml-lg-0,
  .nv-mx-lg-0 {
    margin-left: 0;
  }

  .nv-m-lg-1 {
    margin: 0.25rem;
  }

  .nv-mt-lg-1,
  .nv-my-lg-1 {
    margin-top: 0.25rem;
  }

  .nv-mr-lg-1,
  .nv-mx-lg-1 {
    margin-right: 0.25rem;
  }

  .nv-mb-lg-1,
  .nv-my-lg-1 {
    margin-bottom: 0.25rem;
  }

  .nv-ml-lg-1,
  .nv-mx-lg-1 {
    margin-left: 0.25rem;
  }

  .nv-m-lg-2 {
    margin: 0.5rem;
  }

  .nv-mt-lg-2,
  .nv-my-lg-2 {
    margin-top: 0.5rem;
  }

  .nv-mr-lg-2,
  .nv-mx-lg-2 {
    margin-right: 0.5rem;
  }

  .nv-mb-lg-2,
  .nv-my-lg-2 {
    margin-bottom: 0.5rem;
  }

  .nv-ml-lg-2,
  .nv-mx-lg-2 {
    margin-left: 0.5rem;
  }

  .nv-mt-lg-6 {
    margin-top: 6px;
  }

  .nv-mt-lg-10 {
    margin-top: 10px;
  }

  .nv-mt-lg-12 {
    margin-top: 12px;
  }

  .nv-m-lg-3 {
    margin: 1rem;
  }

  .nv-mt-lg-3,
  .nv-my-lg-3 {
    margin-top: 1rem;
  }

  .nv-mr-lg-3,
  .nv-mx-lg-3 {
    margin-right: 1rem;
  }

  .nv-mb-lg-3,
  .nv-my-lg-3 {
    margin-bottom: 1rem;
  }

  .nv-ml-lg-3,
  .nv-mx-lg-3 {
    margin-left: 1rem;
  }

  .nv-m-lg-4 {
    margin: 1.5rem;
  }

  .nv-mt-lg-4,
  .nv-my-lg-4 {
    margin-top: 1.5rem;
  }

  .nv-mr-lg-4,
  .nv-mx-lg-4 {
    margin-right: 1.5rem;
  }

  .nv-mb-lg-4,
  .nv-my-lg-4 {
    margin-bottom: 1.5rem;
  }

  .nv-ml-lg-4,
  .nv-mx-lg-4 {
    margin-left: 1.5rem;
  }

  .nv-mt-lg-32 {
    margin-top: 2rem;
  }

  .nv-mt-lg-40 {
    margin-top: 40px;
  }

  .nv-mb-lg-40 {
    margin-bottom: 40px;
  }

  .nv-my-lg-40 {
    margin: 40px 0;
  }

  .nv-mt-lg-42 {
    margin-top: 42px;
  }

  .nv-m-lg-5 {
    margin: 3rem;
  }

  .nv-mt-lg-5,
  .nv-my-lg-5 {
    margin-top: 3rem;
  }

  .nv-mr-lg-5,
  .nv-mx-lg-5 {
    margin-right: 3rem;
  }

  .nv-mb-lg-5,
  .nv-my-lg-5 {
    margin-bottom: 3rem;
  }

  .nv-ml-lg-5,
  .nv-mx-lg-5 {
    margin-left: 3rem;
  }

  .nv-mt-lg-64 {
    margin-top: 4rem;
  }

  .nv-p-lg-0 {
    padding: 0;
  }

  .nv-pt-lg-0,
  .nv-py-lg-0 {
    padding-top: 0;
  }

  .nv-pr-lg-0,
  .nv-px-lg-0 {
    padding-right: 0;
  }

  .nv-pb-lg-0,
  .nv-py-lg-0 {
    padding-bottom: 0;
  }

  .nv-pl-lg-0,
  .nv-px-lg-0 {
    padding-left: 0;
  }

  .nv-p-lg-1 {
    padding: 0.25rem;
  }

  .nv-pt-lg-1,
  .nv-py-lg-1 {
    padding-top: 0.25rem;
  }

  .nv-pr-lg-1,
  .nv-px-lg-1 {
    padding-right: 0.25rem;
  }

  .nv-pb-lg-1,
  .nv-py-lg-1 {
    padding-bottom: 0.25rem;
  }

  .nv-pl-lg-1,
  .nv-px-lg-1 {
    padding-left: 0.25rem;
  }

  .nv-p-lg-2 {
    padding: 0.5rem;
  }

  .nv-pt-lg-2,
  .nv-py-lg-2 {
    padding-top: 0.5rem;
  }

  .nv-pr-lg-2,
  .nv-px-lg-2 {
    padding-right: 0.5rem;
  }

  .nv-pb-lg-2,
  .nv-py-lg-2 {
    padding-bottom: 0.5rem;
  }

  .nv-pl-lg-2,
  .nv-px-lg-2 {
    padding-left: 0.5rem;
  }

  .nv-p-lg-3 {
    padding: 1rem;
  }

  .nv-pt-lg-3,
  .nv-py-lg-3 {
    padding-top: 1rem;
  }

  .nv-pr-lg-3,
  .nv-px-lg-3 {
    padding-right: 1rem;
  }

  .nv-pb-lg-3,
  .nv-py-lg-3 {
    padding-bottom: 1rem;
  }

  .nv-pl-lg-3,
  .nv-px-lg-3 {
    padding-left: 1rem;
  }

  .nv-p-lg-4 {
    padding: 1.5rem;
  }

  .nv-pt-lg-4,
  .nv-py-lg-4 {
    padding-top: 1.5rem;
  }

  .nv-pr-lg-4,
  .nv-px-lg-4 {
    padding-right: 1.5rem;
  }

  .nv-pb-lg-4,
  .nv-py-lg-4 {
    padding-bottom: 1.5rem;
  }

  .nv-pl-lg-4,
  .nv-px-lg-4 {
    padding-left: 1.5rem;
  }

  .nv-p-lg-5 {
    padding: 3rem;
  }

  .nv-pt-lg-5,
  .nv-py-lg-5 {
    padding-top: 3rem;
  }

  .nv-pr-lg-5,
  .nv-px-lg-5 {
    padding-right: 3rem;
  }

  .nv-pb-lg-5,
  .nv-py-lg-5 {
    padding-bottom: 3rem;
  }

  .nv-pl-lg-5,
  .nv-px-lg-5 {
    padding-left: 3rem;
  }

  .nv-m-lg-n1 {
    margin: -0.25rem;
  }

  .nv-mt-lg-n1,
  .nv-my-lg-n1 {
    margin-top: -0.25rem;
  }

  .nv-mr-lg-n1,
  .nv-mx-lg-n1 {
    margin-right: -0.25rem;
  }

  .nv-mb-lg-n1,
  .nv-my-lg-n1 {
    margin-bottom: -0.25rem;
  }

  .nv-ml-lg-n1,
  .nv-mx-lg-n1 {
    margin-left: -0.25rem;
  }

  .nv-m-lg-n2 {
    margin: -0.5rem;
  }

  .nv-mt-lg-n2,
  .nv-my-lg-n2 {
    margin-top: -0.5rem;
  }

  .nv-mr-lg-n2,
  .nv-mx-lg-n2 {
    margin-right: -0.5rem;
  }

  .nv-mb-lg-n2,
  .nv-my-lg-n2 {
    margin-bottom: -0.5rem;
  }

  .nv-ml-lg-n2,
  .nv-mx-lg-n2 {
    margin-left: -0.5rem;
  }

  .nv-m-lg-n3 {
    margin: -1rem;
  }

  .nv-mt-lg-n3,
  .nv-my-lg-n3 {
    margin-top: -1rem;
  }

  .nv-mr-lg-n3,
  .nv-mx-lg-n3 {
    margin-right: -1rem;
  }

  .nv-mb-lg-n3,
  .nv-my-lg-n3 {
    margin-bottom: -1rem;
  }

  .nv-ml-lg-n3,
  .nv-mx-lg-n3 {
    margin-left: -1rem;
  }

  .nv-m-lg-n4 {
    margin: -1.5rem;
  }

  .nv-mt-lg-n4,
  .nv-my-lg-n4 {
    margin-top: -1.5rem;
  }

  .nv-mr-lg-n4,
  .nv-mx-lg-n4 {
    margin-right: -1.5rem;
  }

  .nv-mb-lg-n4,
  .nv-my-lg-n4 {
    margin-bottom: -1.5rem;
  }

  .nv-ml-lg-n4,
  .nv-mx-lg-n4 {
    margin-left: -1.5rem;
  }

  .nv-m-lg-n5 {
    margin: -3rem;
  }

  .nv-mt-lg-n5,
  .nv-my-lg-n5 {
    margin-top: -3rem;
  }

  .nv-mr-lg-n5,
  .nv-mx-lg-n5 {
    margin-right: -3rem;
  }

  .nv-mb-lg-n5,
  .nv-my-lg-n5 {
    margin-bottom: -3rem;
  }

  .nv-ml-lg-n5,
  .nv-mx-lg-n5 {
    margin-left: -3rem;
  }

  .nv-m-lg-auto {
    margin: auto;
  }

  .nv-mt-lg-auto,
  .nv-my-lg-auto {
    margin-top: auto;
  }

  .nv-mr-lg-auto,
  .nv-mx-lg-auto {
    margin-right: auto;
  }

  .nv-mb-lg-auto,
  .nv-my-lg-auto {
    margin-bottom: auto;
  }

  .nv-ml-lg-auto,
  .nv-mx-lg-auto {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .nv-px-lg-mobile-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .nv-m-xl-0 {
    margin: 0;
  }

  .nv-mt-xl-0,
  .nv-my-xl-0 {
    margin-top: 0;
  }

  .nv-mr-xl-0,
  .nv-mx-xl-0 {
    margin-right: 0;
  }

  .nv-mb-xl-0,
  .nv-my-xl-0 {
    margin-bottom: 0;
  }

  .nv-ml-xl-0,
  .nv-mx-xl-0 {
    margin-left: 0;
  }

  .nv-m-xl-1 {
    margin: 0.25rem;
  }

  .nv-mt-xl-1,
  .nv-my-xl-1 {
    margin-top: 0.25rem;
  }

  .nv-mr-xl-1,
  .nv-mx-xl-1 {
    margin-right: 0.25rem;
  }

  .nv-mb-xl-1,
  .nv-my-xl-1 {
    margin-bottom: 0.25rem;
  }

  .nv-ml-xl-1,
  .nv-mx-xl-1 {
    margin-left: 0.25rem;
  }

  .nv-m-xl-2 {
    margin: 0.5rem;
  }

  .nv-mt-xl-2,
  .nv-my-xl-2 {
    margin-top: 0.5rem;
  }

  .nv-mr-xl-2,
  .nv-mx-xl-2 {
    margin-right: 0.5rem;
  }

  .nv-mb-xl-2,
  .nv-my-xl-2 {
    margin-bottom: 0.5rem;
  }

  .nv-ml-xl-2,
  .nv-mx-xl-2 {
    margin-left: 0.5rem;
  }

  .nv-mt-xl-6 {
    margin-top: 6px;
  }

  .nv-mt-xl-10 {
    margin-top: 10px;
  }

  .nv-mt-xl-12 {
    margin-top: 12px;
  }

  .nv-m-xl-3 {
    margin: 1rem;
  }

  .nv-mt-xl-3,
  .nv-my-xl-3 {
    margin-top: 1rem;
  }

  .nv-mr-xl-3,
  .nv-mx-xl-3 {
    margin-right: 1rem;
  }

  .nv-mb-xl-3,
  .nv-my-xl-3 {
    margin-bottom: 1rem;
  }

  .nv-ml-xl-3,
  .nv-mx-xl-3 {
    margin-left: 1rem;
  }

  .nv-m-xl-4 {
    margin: 1.5rem;
  }

  .nv-mt-xl-4,
  .nv-my-xl-4 {
    margin-top: 1.5rem;
  }

  .nv-mr-xl-4,
  .nv-mx-xl-4 {
    margin-right: 1.5rem;
  }

  .nv-mb-xl-4,
  .nv-my-xl-4 {
    margin-bottom: 1.5rem;
  }

  .nv-ml-xl-4,
  .nv-mx-xl-4 {
    margin-left: 1.5rem;
  }

  .nv-mt-xl-32 {
    margin-top: 2rem;
  }

  .nv-mt-xl-40 {
    margin-top: 40px;
  }

  .nv-mb-xl-40 {
    margin-bottom: 40px;
  }

  .nv-my-xl-40 {
    margin: 40px 0;
  }

  .nv-mt-xl-42 {
    margin-top: 42px;
  }

  .nv-m-xl-5 {
    margin: 3rem;
  }

  .nv-mt-xl-5,
  .nv-my-xl-5 {
    margin-top: 3rem;
  }

  .nv-mr-xl-5,
  .nv-mx-xl-5 {
    margin-right: 3rem;
  }

  .nv-mb-xl-5,
  .nv-my-xl-5 {
    margin-bottom: 3rem;
  }

  .nv-ml-xl-5,
  .nv-mx-xl-5 {
    margin-left: 3rem;
  }

  .nv-mt-xl-64 {
    margin-top: 4rem;
  }

  .nv-p-xl-0 {
    padding: 0;
  }

  .nv-pt-xl-0,
  .nv-py-xl-0 {
    padding-top: 0;
  }

  .nv-pr-xl-0,
  .nv-px-xl-0 {
    padding-right: 0;
  }

  .nv-pb-xl-0,
  .nv-py-xl-0 {
    padding-bottom: 0;
  }

  .nv-pl-xl-0,
  .nv-px-xl-0 {
    padding-left: 0;
  }

  .nv-p-xl-1 {
    padding: 0.25rem;
  }

  .nv-pt-xl-1,
  .nv-py-xl-1 {
    padding-top: 0.25rem;
  }

  .nv-pr-xl-1,
  .nv-px-xl-1 {
    padding-right: 0.25rem;
  }

  .nv-pb-xl-1,
  .nv-py-xl-1 {
    padding-bottom: 0.25rem;
  }

  .nv-pl-xl-1,
  .nv-px-xl-1 {
    padding-left: 0.25rem;
  }

  .nv-p-xl-2 {
    padding: 0.5rem;
  }

  .nv-pt-xl-2,
  .nv-py-xl-2 {
    padding-top: 0.5rem;
  }

  .nv-pr-xl-2,
  .nv-px-xl-2 {
    padding-right: 0.5rem;
  }

  .nv-pb-xl-2,
  .nv-py-xl-2 {
    padding-bottom: 0.5rem;
  }

  .nv-pl-xl-2,
  .nv-px-xl-2 {
    padding-left: 0.5rem;
  }

  .nv-p-xl-3 {
    padding: 1rem;
  }

  .nv-pt-xl-3,
  .nv-py-xl-3 {
    padding-top: 1rem;
  }

  .nv-pr-xl-3,
  .nv-px-xl-3 {
    padding-right: 1rem;
  }

  .nv-pb-xl-3,
  .nv-py-xl-3 {
    padding-bottom: 1rem;
  }

  .nv-pl-xl-3,
  .nv-px-xl-3 {
    padding-left: 1rem;
  }

  .nv-p-xl-4 {
    padding: 1.5rem;
  }

  .nv-pt-xl-4,
  .nv-py-xl-4 {
    padding-top: 1.5rem;
  }

  .nv-pr-xl-4,
  .nv-px-xl-4 {
    padding-right: 1.5rem;
  }

  .nv-pb-xl-4,
  .nv-py-xl-4 {
    padding-bottom: 1.5rem;
  }

  .nv-pl-xl-4,
  .nv-px-xl-4 {
    padding-left: 1.5rem;
  }

  .nv-p-xl-5 {
    padding: 3rem;
  }

  .nv-pt-xl-5,
  .nv-py-xl-5 {
    padding-top: 3rem;
  }

  .nv-pr-xl-5,
  .nv-px-xl-5 {
    padding-right: 3rem;
  }

  .nv-pb-xl-5,
  .nv-py-xl-5 {
    padding-bottom: 3rem;
  }

  .nv-pl-xl-5,
  .nv-px-xl-5 {
    padding-left: 3rem;
  }

  .nv-m-xl-n1 {
    margin: -0.25rem;
  }

  .nv-mt-xl-n1,
  .nv-my-xl-n1 {
    margin-top: -0.25rem;
  }

  .nv-mr-xl-n1,
  .nv-mx-xl-n1 {
    margin-right: -0.25rem;
  }

  .nv-mb-xl-n1,
  .nv-my-xl-n1 {
    margin-bottom: -0.25rem;
  }

  .nv-ml-xl-n1,
  .nv-mx-xl-n1 {
    margin-left: -0.25rem;
  }

  .nv-m-xl-n2 {
    margin: -0.5rem;
  }

  .nv-mt-xl-n2,
  .nv-my-xl-n2 {
    margin-top: -0.5rem;
  }

  .nv-mr-xl-n2,
  .nv-mx-xl-n2 {
    margin-right: -0.5rem;
  }

  .nv-mb-xl-n2,
  .nv-my-xl-n2 {
    margin-bottom: -0.5rem;
  }

  .nv-ml-xl-n2,
  .nv-mx-xl-n2 {
    margin-left: -0.5rem;
  }

  .nv-m-xl-n3 {
    margin: -1rem;
  }

  .nv-mt-xl-n3,
  .nv-my-xl-n3 {
    margin-top: -1rem;
  }

  .nv-mr-xl-n3,
  .nv-mx-xl-n3 {
    margin-right: -1rem;
  }

  .nv-mb-xl-n3,
  .nv-my-xl-n3 {
    margin-bottom: -1rem;
  }

  .nv-ml-xl-n3,
  .nv-mx-xl-n3 {
    margin-left: -1rem;
  }

  .nv-m-xl-n4 {
    margin: -1.5rem;
  }

  .nv-mt-xl-n4,
  .nv-my-xl-n4 {
    margin-top: -1.5rem;
  }

  .nv-mr-xl-n4,
  .nv-mx-xl-n4 {
    margin-right: -1.5rem;
  }

  .nv-mb-xl-n4,
  .nv-my-xl-n4 {
    margin-bottom: -1.5rem;
  }

  .nv-ml-xl-n4,
  .nv-mx-xl-n4 {
    margin-left: -1.5rem;
  }

  .nv-m-xl-n5 {
    margin: -3rem;
  }

  .nv-mt-xl-n5,
  .nv-my-xl-n5 {
    margin-top: -3rem;
  }

  .nv-mr-xl-n5,
  .nv-mx-xl-n5 {
    margin-right: -3rem;
  }

  .nv-mb-xl-n5,
  .nv-my-xl-n5 {
    margin-bottom: -3rem;
  }

  .nv-ml-xl-n5,
  .nv-mx-xl-n5 {
    margin-left: -3rem;
  }

  .nv-m-xl-auto {
    margin: auto;
  }

  .nv-mt-xl-auto,
  .nv-my-xl-auto {
    margin-top: auto;
  }

  .nv-mr-xl-auto,
  .nv-mx-xl-auto {
    margin-right: auto;
  }

  .nv-mb-xl-auto,
  .nv-my-xl-auto {
    margin-bottom: auto;
  }

  .nv-ml-xl-auto,
  .nv-mx-xl-auto {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .nv-mb-3 {
    margin-bottom: 12px;
  }

  .ptb-64 {
    padding: 1.5rem 0;
  }

  .mb-32 {
    margin-bottom: 12px;
  }

  .nv-pt {
    padding-top: 1.5rem;
  }
}

*[lang="ar"] *[dir="rtl"] .nv-mr-0 {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 992px) {
  *[lang="ar"] *[dir="rtl"] .nv-mr-lg-2 {
    margin-left: 0.5rem;
    margin-right: 0;
  }
}

/* ---------------- letter spacing ----------------- */
.nv-l-s-2 {
  letter-spacing: 2px;
}

/* ------------------------ hr new style ------------------------*/
hr {
  width: 100%;
  border: 1px solid #e2e1da;
  height: 0;

  &.dashed {
    border: 1px dashed #e2e1da;
  }
}

@media (max-width: 991px) {
  hr.dashed,
  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.w-auto {
  width: auto !important;
}

.d-none {
  display: none !important;
}
