@import "variables";
@import "./utils";
@import "z-index";
@import "spacing";
@import "typography";

%container {
  float: none !important;
  margin: 0 auto;
  padding: 0 16px !important;

  @include respond-to-min($tablet) {
    padding: 0 12px !important;
    width: 756px !important;
  }

  @include respond-to-min($desktop) {
    width: 976px !important;
  }

  @include respond-to-min($desktop-wide) {
    width: 1224px !important;
  }
}
