// Padding
$padding-step-0: 0;
$padding-step-1: 8px;
$padding-step-2: 16px;
$padding-step-3: 24px;
$padding-step-4: 32px;
$padding-step-5: 40px;
$padding-step-6: 48px;
$padding-step-7: 56px;
$padding-step-8: 64px;
$padding-step-10: 80px;

// Margin

$margin-step-0: 0;
$margin-step-1: 8px;
$margin-step-2: 16px;
$margin-step-3: 24px;
$margin-step-4: 32px;
$margin-step-5: 40px;
$margin-step-6: 48px;
$margin-step-7: 56px;
$padding-step-8: 64px;
$padding-step-9: 72px;
$margin-step-10: 80px;

// Border
$border-radius-step-0: 0;
$border-radius-step-1: 4px;
$border-radius-step-2: 8px;
$border-step-0: 0;
$border-step-1: 1px;
$border-step-2: 2px;
$border-step-3: 3px;
$border-step-4: 4px;
